Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ApplGateAgent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="ApplGateAgent">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="Config"/>
            <xs:element ref="Diagnose"/>
            <xs:element ref="Selftest"/>
            <xs:element ref="NetworkConfig"/>
            <xs:element ref="DiscoveryService"/>
            <xs:element ref="ServiceInterface"/>
            <xs:element ref="SoapService"/>
            <xs:element ref="SystemInterfaces" maxOccurs="1" minOccurs="0"/>
            <xs:element ref="EthBridge"/>
            <xs:element ref="SDO"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Config">
      <xs:complexType>
         <xs:attribute name="ThreadPriority" type="xs:int" use="required"/>
         <xs:attribute name="ThreadCPU" type="xs:int" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Diagnose">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
      </xs:complexType>
    </xs:element>
    <xs:element name="Selftest">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="setHMIMessage" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
    <xs:element name="NetworkConfig">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="DiscoveryService">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
       <xs:attribute name="Ip" type="xs:string" use="required"/>
       <xs:attribute name="Port" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ServiceInterface">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="Interface" type="xs:string" use="required"/>
         <xs:attribute name="isBwLimitActive" type="xs:boolean" use="required"/>
         <xs:attribute name="isDhcpServerActive" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SoapService">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="Ip" type="xs:string" use="required"/>
         <xs:attribute name="Port" type="xs:int" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SystemInterfaces">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Interface" maxOccurs="20" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Interface">
      <xs:complexType>
         <xs:attribute name="Name" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="EthBridge">
      <xs:complexType>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="PrivateInterface" type="xs:string" use="required"/>
         <xs:attribute name="PublicInterface" type="xs:string" use="required"/>
         <xs:attribute name="VlanId" type="xs:int" use="required"/>
         <xs:attribute name="EtherType" type="xs:int" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SDO">
      <xs:complexType>
         <xs:attribute name="BusId" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>