Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Axis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xml:lang="EN"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:simpleType name="axisIDType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Achs Identifier (Wertebereich 1..255)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Axis identifier (range 1..255)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="sensorIDType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Sensor Identifier (Wertebereich 1..255)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Sensor identifier (range 1..255)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="measureChannelIDType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Messkanal Identifier (Wertebereich 1..255)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            measure channel identifier (range 1..255)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="axisTypeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Achstyp (enum)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Axis type (enum)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Translator"/>
         <xs:enumeration value="Rotator"/>
         <xs:enumeration value="Spindle"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="axisModeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Achsmodus (enum)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Axis mode (enum)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="StandAlone"/>
         <xs:enumeration value="PositionMaster"/>
         <xs:enumeration value="PositionSlave"/>
         <xs:enumeration value="TorqueMaster"/>
         <xs:enumeration value="TorqueSlave"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="axisControlTypeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Reglertyp (enum)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Control type (enum)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="PositionControl"/>
         <xs:enumeration value="PositionTorqueControl"/>
         <xs:enumeration value="PositionForceControl"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>