Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/CabCtrlSystem.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:complexType name="BusData">
      <xs:attribute name="driver" type="xs:string" use="required"/>
      <xs:attribute name="bus" type="xs:string" use="required"/>
      <xs:attribute name="bitOffset" type="xs:integer" use="required"/>
      <xs:attribute name="bitLength" type="xs:integer" use="required"/>
   </xs:complexType>
   <xs:complexType name="SignalData">
      <xs:attribute name="driver" type="xs:string" use="required"/>
      <xs:attribute name="bus" type="xs:string" use="required"/>
      <xs:attribute name="vendorId" type="xs:integer" use="required"/>
      <xs:attribute name="productCode" type="xs:integer" use="required"/>
      <xs:attribute name="signalName" type="xs:string" use="required"/>
      <xs:attribute name="bitLength" type="xs:integer" use="required"/>
   </xs:complexType>
   <xs:complexType name="CabinetInfo">
      <xs:attribute name="type" type="xs:integer" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="running" type="xs:integer" use="required"/>
      <xs:attribute name="busPowerOff" type="xs:integer" use="required"/>
      <xs:attribute name="softPowerOff" type="xs:integer" use="required"/>
   </xs:complexType>
   <xs:simpleType name="OnOff">
      <xs:restriction base="xs:string">
         <xs:enumeration value="on"/>
         <xs:enumeration value="off"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:element name="CabCtrl">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Thread">
               <xs:complexType>
                  <xs:attribute name="prio" type="xs:string" use="required" />
                  <xs:attribute name="fastPeriod" type="xs:integer" use="required" />
                  <xs:attribute name="slowPeriodFactor" type="xs:integer" use="required" />
               </xs:complexType>
            </xs:element>
            <xs:element name="SoapService">
               <xs:complexType>
                  <xs:attribute name="prio" type="xs:string" use="required" />
                  <xs:attribute name="port" type="xs:integer" use="required" />
               </xs:complexType>
            </xs:element>
            <xs:element name="CabinetInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Cabinet" type="CabinetInfo" maxOccurs="unbounded" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Operations">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ProcessSafetySignals">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="BusData" />
                              <xs:element name="Output" type="BusData" />
                              <xs:element name="OpModes">
                                 <xs:complexType>
                                    <xs:attribute name="T2" type="OnOff" use="required" />
                                    <xs:attribute name="AUT" type="OnOff" use="required" />
                                    <xs:attribute name="EXT" type="OnOff" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CheckPower">
                        <xs:complexType>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ULLamp">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Output" type="SignalData" maxOccurs="unbounded"/>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PowerDownByPLC">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input">
                                 <xs:complexType>
                                    <xs:attribute name="bitLength" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Output">
                                 <xs:complexType>
                                    <xs:attribute name="bitLength" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="UserInterface">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="BusData" />
                              <xs:element name="Output">
                                 <xs:complexType>
                                    <xs:attribute name="bitLength" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="TasInterface">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="BusData" />
                              <xs:element name="Output" type="BusData" />
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="VirtualKCP">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="BusData" />
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PositionCheck">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="BusData" />
                              <xs:element name="Output" type="BusData" />
                              <xs:element name="PosCompare">
                                 <xs:complexType>
                                    <xs:attribute name="maxPosDiffMm" type="xs:integer" use="required" />
                                    <xs:attribute name="maxPosDiffDeg" type="xs:double" use="required" />
                                    <xs:attribute name="timeDiff" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                        <xs:element name="ControlSCUFan">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="SYBFan">
                                    <xs:complexType>
                                       <xs:attribute name="monitoring" type="OnOff" use="required" />
                                       <xs:attribute name="nominalRevolutionOnKSP300" type="xs:integer" use="required" />
                                       <xs:attribute name="nominalRevolutionOnKSP600" type="xs:integer" use="required" />
                                       <xs:attribute name="lowestSpeedPercent" type="xs:integer" use="required" />
                                       <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                       <xs:attribute name="slowdownPercentPerMin" type="xs:integer" use="required" />
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="KSP300Fan">
                                    <xs:complexType>
                                       <xs:attribute name="monitoring" type="OnOff" use="required" />
                                       <xs:attribute name="nominalRevolution" type="xs:integer" use="required" />
                                       <xs:attribute name="lowestSpeedPercent" type="xs:integer" use="required" />
                                       <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                       <xs:attribute name="slowdownPercentPerMin" type="xs:integer" use="required" />
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="KSP600Fan">
                                    <xs:complexType>
                                       <xs:attribute name="monitoring" type="OnOff" use="required" />
                                       <xs:attribute name="nominalRevolutionfan1" type="xs:integer" use="required" />
                                       <xs:attribute name="nominalRevolutionfan2" type="xs:integer" use="required" />
                                       <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                       <xs:attribute name="alarmDeviationPercent" type="xs:integer" use="required" />
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="CPUTempSensor">
                                    <xs:complexType>
                                       <xs:attribute name="monitoring" type="OnOff" use="required" />
                                       <xs:attribute name="startFanTemp" type="xs:integer" use="required" />
                                       <xs:attribute name="maxFanTemp" type="xs:integer" use="required" />
                                       <xs:attribute name="warnDeviation" type="xs:integer" use="required" />
                                       <xs:attribute name="alarmDeviation" type="xs:integer" use="required" />
                                    </xs:complexType>
                                 </xs:element>                             
                              </xs:sequence>                 
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                             </xs:complexType>
                         </xs:element>
                     <xs:element name="ControlOuterFan">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="SignalData" />
                              <xs:element name="OuterFan">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="nominalRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="lowestSpeedPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="slowdownPercentPerMin" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="UpperTempSensor">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="startFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="maxFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="warnTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="alarmTemp" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CIB_TempSensor">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="startFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="maxFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="warnTemp" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="InnerFan">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="warnRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="alarmRevolution" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PcFan">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="warnRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="alarmRevolution" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="MonitoringSR">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input" type="SignalData" />
                              <xs:element name="PowerSupplyOK">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FansDriveBox">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="nominalRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="lowestSpeedPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="lowestSpeedPercentSR" type="xs:integer" use="required" />
                                    <xs:attribute name="slowdownPercentPerMin" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="OuterFanSmallSize">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="warnRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="alarmRevolution" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FanCpu">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FanPowerSupply">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="warnRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="alarmRevolution" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CIBSR_TempSensor">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="warnTemp" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="SmallSize400">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="OuterFan">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="nominalRevolution" type="xs:integer" use="required" />
                                    <xs:attribute name="lowestSpeedPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="pulse" type="xs:integer" use="required"/>
                                    <xs:attribute name="warnDeviationPercent" type="xs:integer" use="required" />
                                    <xs:attribute name="slowdownPercentPerMin" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PcFan">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CIBSR_TempSensor">
                                 <xs:complexType>
                                    <xs:attribute name="monitoring" type="OnOff" use="required" />
                                    <xs:attribute name="startFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="maxFanTemp" type="xs:integer" use="required" />
                                    <xs:attribute name="warnTemp" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="OtherHW">
                        <xs:complexType>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Retrofit">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Input">
                                 <xs:complexType>
                                    <xs:attribute name="bitLength" type="xs:integer" use="required" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ProfiEnergy">
                        <xs:complexType>
                           <xs:attribute name="type" type="xs:string" use="required" />
                           <xs:attribute name="activated" type="OnOff" use="required" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>