Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/CEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ConditionalEventConfig">
		<xs:complexType>
			<xs:sequence maxOccurs="1" minOccurs="1">
				<xs:element name="SharedMemSizeInByte" maxOccurs="1"
					minOccurs="1">

					<xs:simpleType>
						<xs:restriction base="xs:int">

							<xs:minInclusive value="1"></xs:minInclusive>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Category" type="CategoryType" maxOccurs="unbounded" minOccurs="1"></xs:element>
			</xs:sequence>
			<xs:attribute name="version" use="required" type="xs:float">
		  </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="FileRotatorType">
    	<xs:sequence maxOccurs="unbounded" minOccurs="1">
    		<xs:element name="Event" type="EventType"></xs:element>
    	</xs:sequence>
    	<xs:attribute name="path" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:whiteSpace value="collapse"></xs:whiteSpace>
    				<xs:minLength value="1"></xs:minLength>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    	<xs:attribute name="file" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:minLength value="1"></xs:minLength>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    	<xs:attribute name="maxFileSizeInByte" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:unsignedLong">
    				<xs:minInclusive value="100"></xs:minInclusive>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    	<xs:attribute name="maxRotationSizeInByte" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:unsignedLong">

    				<xs:whiteSpace value="collapse"></xs:whiteSpace>
    				<xs:minInclusive value="100"></xs:minInclusive>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    </xs:complexType>
    <xs:complexType name="EventType">
    	<xs:attribute name="uid" use="required">
         <xs:simpleType>
         	<xs:restriction base="xs:int">
         		<xs:minInclusive value="0"></xs:minInclusive>
         		<xs:whiteSpace value="collapse"></xs:whiteSpace>
         		<xs:maxInclusive value="32767"></xs:maxInclusive>
         	</xs:restriction>
         </xs:simpleType>
    	</xs:attribute>
    </xs:complexType>

    <xs:complexType name="CategoryType">
    	<xs:sequence>
    		<xs:element name="FileRotator" type="FileRotatorType" maxOccurs="unbounded" minOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>