Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/CFCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <xs:include schemaLocation="Units.xsd"/>
   <xs:include schemaLocation="WaggonDriverInterfaces.xsd"/>
   <xs:complexType name="tTrace">
      <xs:attribute name="Samples" type="xs:unsignedShort" use="required"/>
   </xs:complexType>
   <xs:simpleType name="tControllerID">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]+|CtrlKukaStd|CtrlMatlabSync|CtrlSimu|CtrlForceSensorless|CtrlForce|CtrlTorqueSlave|CtrlTensionSlave|CtrlNop"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="tFilterID">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]+|FiltPos2VelIIR|FiltPos2Vel|FiltVmvMaster|FiltVmvSlave|FiltSimu|FiltCycData"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="tController">

      <xs:attribute name="ID" type="tControllerID" use="required"/>
      <xs:attribute name="ConfigFileName" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="tFilter">
      <xs:attribute name="ID" type="tFilterID" use="required"/>
      <xs:attribute name="ConfigFileName" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="tControl">
      <xs:sequence>
         <xs:element name="PreFilter" type="tFilter" minOccurs="0" maxOccurs="4"/>
         <xs:element name="Controller" type="tController"/>
         <xs:element name="PostFilter" type="tFilter" minOccurs="0" maxOccurs="4"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tControlWDInterfaces">
        <xs:all>
         <xs:element ref="IPos" minOccurs="0" />
         <xs:element ref="ICommutation" minOccurs="0" />
         <xs:element ref="IVel" minOccurs="0" />
         <xs:element ref="ITrq" minOccurs="0" />
         <xs:element ref="ITrqGearOutput" minOccurs="0" />
         <xs:element ref="ITrqWDOut" minOccurs="0" />
         <xs:element ref="IFrc" minOccurs="0" />
         <xs:element ref="IMultiplexer" minOccurs="0" />
         <xs:element ref="IStateKSB" minOccurs="0" />
         <xs:element ref="IStateEnabled" minOccurs="0" />
         <xs:element ref="IStateBrakeOpen" minOccurs="0" />
         <xs:element ref="IStateDevice" minOccurs="0" />
         <xs:element ref="IBit" minOccurs="0" />
         <xs:element ref="OCommutation" minOccurs="0" />
         <xs:element ref="OTrq" minOccurs="0" />
         <xs:element ref="OPos" minOccurs="0" />
         <xs:element ref="OVel" minOccurs="0" />
         <xs:element ref="OCmdKSB" minOccurs="0" />
         <xs:element ref="OCmdEnable" minOccurs="0" />
         <xs:element ref="OCmdBrakeOpen" minOccurs="0" />
         <xs:element ref="OCmd2ndBrakeOpen" minOccurs="0" />
         <xs:element ref="OFrcResetSensor" minOccurs="0" />
         <xs:element ref="OSupplyVoltage" minOccurs="0" /> <!-- deprecated -->
         <xs:element ref="OBit" minOccurs="0" />
      </xs:all>
   </xs:complexType>
   <xs:complexType name="tSupplyWDInterfaces">
      <xs:all>
         <xs:element ref="IMultiplexer" minOccurs="0"/>
         <xs:element ref="IStateKSB" minOccurs="0"/>
         <xs:element ref="IStateEnabled" minOccurs="0"/>
         <xs:element ref="IStateDevice" minOccurs="0"/>
         <xs:element ref="ISupplyVoltage" minOccurs="0"/>
         <xs:element ref="IActivationStatus" minOccurs="0"/>
         <xs:element ref="OCmdKSB" minOccurs="0"/>
         <xs:element ref="OCmdEnable" minOccurs="0"/>
         <xs:element ref="OCmdBrakeVoltage" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="tAxisConfiguration">
      <xs:sequence>
         <xs:element name="Axis" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Control" type="tControl"/>
                  <xs:element name="WaggonDriverInterfaces" type="tControlWDInterfaces" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tSupplyConfiguration">
      <xs:sequence>
         <xs:element name="Supply" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="WaggonDriverInterfaces" type="tSupplyWDInterfaces" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CFCore">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0" />
            <xs:element name="WaggonDriverConfigFile" type="strFileNameType"/>
            <xs:element name="ECATConfigFile" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Obsolete. Kept for compatibility with 8.1. Can be removed.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Trace" type="tTrace" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Obsolete. Kept for compatibility with 8.1. Can be removed.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="AxisConfiguration" type="tAxisConfiguration"/>
            <xs:element name="SupplyConfiguration" type="tSupplyConfiguration" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
