Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ChainData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:simpleType name="ReferenceType" >
      <xs:restriction base="xs:string">
         <xs:pattern value="[Ww][Oo][Rr][Ll][Dd]|[Rr][Oo][Bb][Rr][Oo][Oo][Tt]|[Rr][Oo][Bb][Ff][Ll][Aa][Nn][Gg][Ee]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="DynDat">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Chain" minOccurs="1" maxOccurs="7">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ChainInWorld">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="Frame"/>
                           </xs:sequence>
                           <xs:attribute name="Reference" type="ReferenceType" use="optional" default="WORLD" />
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ChainToInternal" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="Frame"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element ref="Link" maxOccurs="12" minOccurs="1"/>
                     <xs:element name="InternalToChain" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="Frame"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ChainToFlange">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="Frame"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Number" use="required">
                     <xs:simpleType>
                        <xs:restriction base="xs:unsignedShort">
                           <xs:minInclusive value="1" />
                           <xs:maxInclusive value="7" />
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- Declaration of the various sub elements -->
   <xs:element name="Link">
      <xs:annotation>
         <xs:documentation>configuration of kinematic chain</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Frame"/>
            <xs:element ref="DeltaData" maxOccurs="1" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="AxisID" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedShort">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="12" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="Frame">
      <xs:annotation>
         <xs:documentation>length in mm; angles in deg</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="x" type="xs:double" use="required"/>
         <xs:attribute name="y" type="xs:double" use="required"/>
         <xs:attribute name="z" type="xs:double" use="required"/>
         <xs:attribute name="a" type="xs:double" use="required"/>
         <xs:attribute name="b" type="xs:double" use="required"/>
         <xs:attribute name="c" type="xs:double" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="DeltaData">
      <xs:annotation>
         <xs:documentation>additional data for axes of delta kinematics</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="LinkToShank">
               <xs:annotation>
                  <xs:documentation>length in mm</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="x" type="xs:double" use="required"/>
                  <xs:attribute name="y" type="xs:double" use="required"/>
                  <xs:attribute name="z" type="xs:double" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Shank">
               <xs:annotation>
                  <xs:documentation>length in mm</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="l" use="required">
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
            <xs:element name="ShankInPlatform">
               <xs:annotation>
                  <xs:documentation>length in mm</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="x" type="xs:double" use="required"/>
                  <xs:attribute name="y" type="xs:double" use="required"/>
                  <xs:attribute name="z" type="xs:double" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>