Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ConnectionLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <xs:element name="nameserver_IP">
      <xs:complexType>
         <xs:attribute name="ip" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="nameserver_Port">
      <xs:complexType>
         <xs:attribute name="port" type="xs:integer" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="nameserver_task_options">
      <xs:complexType>
         <xs:attribute name="ns_prio" type="xs:integer" use="required"/>
         <xs:attribute name="ns_stacksize" type="xs:integer" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="nameserver_Timeout">
      <xs:complexType>
         <xs:attribute name="timeout" type="xs:integer" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="init_task_options">
      <xs:complexType>
         <xs:attribute name="prio" type="xs:integer" use="required"/>
         <xs:attribute name="stackSize" type="xs:integer" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="ConnectionLib">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nameserver_IP"/>
            <xs:element ref="nameserver_Port"/>
            <xs:element ref="nameserver_task_options"/>
            <xs:element ref="nameserver_Timeout"/>
            <xs:element ref="init_task_options"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
