Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/CritParams.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified">

   <xs:complexType name="CrcType">
      <xs:attribute name="Name"
         type="xs:ID"
         use="required"/>
      <xs:attribute name="Value"
         type="xs:NMTOKEN"
         use="required"/>
   </xs:complexType>

   <xs:complexType name="MasterCrcType">
      <xs:complexContent>
         <xs:extension base="CrcType">
            <xs:sequence>
               <xs:element name="MasterCRC" type="MasterCrcType" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="CRC" type="CrcType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="CritParams">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="MasterCRC" type="MasterCrcType" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>