Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Diagnose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Info"/>
				<xs:element ref="Schema"/>
			</xs:sequence>
			<xs:attribute name="Label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ThreadPrioritySoap" type="xs:int"/>
   <xs:element name="SoapPort" type="xs:int"/>
	<xs:element name="ThreadPriority" type="xs:int"/>
	<xs:element name="Schema">
		<xs:complexType>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaximumDiagnoseMessages" type="xs:int"/>
	<xs:element name="MaximumCommandMessages" type="xs:int"/>
	<xs:element name="Info">
		<xs:complexType>
			<xs:attribute name="Version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Diagnose">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="Config"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultUpdateRate" type="xs:int"/>
	<xs:element name="Config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ThreadPriority"/>
				<xs:element ref="ThreadPrioritySoap"/>
				<xs:element ref="DefaultUpdateRate"/>
				<xs:element ref="MaximumDiagnoseMessages"/>
				<xs:element ref="MaximumCommandMessages"/>
            <xs:element ref="SoapPort"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
