Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/DtDeviceOptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:simpleType name="Hex16Bit">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9|a-f|A-F]{1,4}"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="PdoFormatType">
      <xs:annotation>
         <xs:documentation>Type of PDO / OBD (enum)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Classic">
            <xs:annotation>
               <xs:documentation>Classic PDO / OBD for KRC4 and KRC5 devices</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="1CPP">
            <xs:annotation>
               <xs:documentation>New design of PDO / OBD for 1CPP devices</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="DtDeviceOptions">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="DeviceTypeOptionsList">
               <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                     <xs:element name="KspKpp">
                        <xs:complexType>
                           <xs:attribute name="Name" type="xs:string" use="required"/>
                           <xs:attribute name="WdId" type="xs:int" use="required"/>
                           <xs:attribute name="VendorId" type="xs:int" use="required"/>
                           <xs:attribute name="ProductCode" type="xs:int" use="required"/>
                           <xs:attribute name="CurrentRange" type="xs:double" use="required">
                              <xs:annotation>
                                 <xs:documentation>Current value [A] corresponding to max. Increments</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="CurrentMaxInc" type="Hex16Bit" use="required">
                              <xs:annotation>
                                 <xs:documentation>Max. (positive) increments for current value</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="CurrentRangeFromDevice" type="xs:boolean" use="required">
                              <xs:annotation>
                                 <xs:documentation>If "true", the value for "CurrentRange" can be read from the device</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="VoltageRange" type="xs:double" use="required">
                              <xs:annotation>
                                 <xs:documentation>Voltage value [V] corresponding to max. Increments</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="VoltageMaxInc" type="Hex16Bit" use="required">
                              <xs:annotation>
                                 <xs:documentation>Max. (positive) increments for voltage value</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="VoltageRangeFromDevice" type="xs:boolean" use="required">
                              <xs:annotation>
                                 <xs:documentation>If "true", the value for "VoltageRange" can be read from the device</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="OldStatusHandling" type="xs:boolean" use="required">
                              <xs:annotation>
                                 <xs:documentation>If "true", the device uses status handling before KRC5</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="MaxChargeDelay" type="xs:double" use="required">
                              <xs:annotation>
                                 <xs:documentation>Max. delay [s] between charging cycles.</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="SupportsSpo" type="xs:boolean" use="required">
                              <xs:annotation>
                                 <xs:documentation>If "true", the device supports SafePowerOff (SPO)</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="SdoServoBaseAddress" type="Hex16Bit" use="required">
                              <xs:annotation>
                                 <xs:documentation>CoE base address for servo channels</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="SdoServoAddressOffset" type="Hex16Bit" use="required">
                              <xs:annotation>
                                 <xs:documentation>Offset between servo channels in Object Dictionary</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="ServoChannels" type="xs:int" use="required">
                              <xs:annotation>
                                 <xs:documentation>Number of servo channels</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="SdoSupplyBaseAddress" type="Hex16Bit" use="required">
                              <xs:annotation>
                                 <xs:documentation>CoE base address for supply channel</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="DrivesPerBrakeChannel" type="xs:int" use="required">
                              <xs:annotation>
                                 <xs:documentation>Number of servo channels sharing the same brake channel</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="DelayMs" type="xs:double" use="required">
                              <xs:annotation>
                                 <xs:documentation>Required delay for commutation extrapolation</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="FmBits" type="xs:int" use="required">
                              <xs:annotation>
                                 <xs:documentation>Fast measurement bit depth</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="DiagDrv" type="xs:int" use="required">
                              <xs:annotation>
                                 <xs:documentation>Diagnostic Driver Type</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="PdoFormat" type="PdoFormatType" use="required"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Rdc">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Channel" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:attribute name="DelayMs" use="required">
                                       <xs:annotation>
                                          <xs:documentation>Required delay for commutation extrapolation</xs:documentation>
                                       </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="RefSinChannel" use="required">
                                       <xs:annotation>
                                          <xs:documentation>Reference sine channel</xs:documentation>
                                       </xs:annotation>
                                    </xs:attribute>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="Name" type="xs:string" use="required"/>
                           <xs:attribute name="WdId" type="xs:int"/>
                           <xs:attribute name="VendorId" type="xs:int" use="required"/>
                           <xs:attribute name="ProductCode" type="xs:int" use="required"/>
                           <xs:attribute name="DiagDrv" type="xs:int" use="required"/>
                           <xs:attribute name="PositionRangeSupported" type="xs:boolean" use="required"/>
                           <xs:attribute name="DeactivateAdaptiveFilter" type="xs:boolean" use="required"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
