Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ecat_PBM_Gateway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="Slave">
      <xs:complexType>
         <xs:attribute name="StationAddr" type="xs:unsignedInt" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SYS-X44_PB-Master1">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="OptionalPBSlaveList"/>
            <xs:element ref="Options" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Options">
      <xs:complexType>
         <xs:attribute name="ActivateADS" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="OptionalPBSlaveList">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Slave" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ECat_PBM_Gateway">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0"/>
            <xs:element ref="SYS-X44_PB-Master1"/>
         </xs:sequence>
         <xs:attribute name="kukaVersion" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:byte">
                  <xs:enumeration value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
</xs:schema>
