Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ecatms_swap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="Version.xsd"/>
  <xs:element name="SwapList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Swap" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Swap">
    <xs:complexType>
      <xs:attribute name="Offset" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="Length" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="2"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="IsInput" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtherCatSwap">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="Version" minOccurs="0"/>
        <xs:element ref="SwapList"/>
      </xs:sequence>
      <xs:attribute name="kukaVersion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
