Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/EcatDiagCmd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Hugo Heine (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Hugo Heine (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Hugo Heine (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Hugo Heine (KUKA Roboter GMBH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Slave">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SlaveDefinition" minOccurs="0" maxOccurs="5"/>
				<xs:element ref="DiagJob" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RawDiagJob" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FoeReadJob" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="SlaveName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EcatDiagCmd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Slave" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SlaveDefinition">
		<xs:complexType>
			<xs:attribute name="VendorID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ProductCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiagJob">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
						<xs:enumeration value="int64"/>
						<xs:enumeration value="int32"/>
						<xs:enumeration value="int16"/>
						<xs:enumeration value="int8"/>
						<xs:enumeration value="uint8"/>
						<xs:enumeration value="uint16"/>
						<xs:enumeration value="uint32"/>
						<xs:enumeration value="uint64"/>
						<xs:enumeration value="int64hex"/>
						<xs:enumeration value="int32hex"/>
						<xs:enumeration value="int16hex"/>
						<xs:enumeration value="int8hex"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="double"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ObjSubIndex" type="xs:unsignedByte" use="required"/>
			<xs:attribute name="ObjIndex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RawDiagJob">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
						<xs:enumeration value="int64"/>
						<xs:enumeration value="int32"/>
						<xs:enumeration value="int16"/>
						<xs:enumeration value="int8"/>
						<xs:enumeration value="uint8"/>
						<xs:enumeration value="uint16"/>
						<xs:enumeration value="uint32"/>
						<xs:enumeration value="uint64"/>
						<xs:enumeration value="int64hex"/>
						<xs:enumeration value="int32hex"/>
						<xs:enumeration value="int16hex"/>
						<xs:enumeration value="int8hex"/>
						<xs:enumeration value="hexDump"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Addr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ByteLen">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FoeReadJob">
		<xs:complexType>
			<xs:attribute name="FileName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hexPW" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FileSizeByte" type="xs:unsignedInt" use="required"/>
			<xs:attribute name="TimeOutMs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
