Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/EcatCreator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WrapperConfig">
		<xs:complexType>
			<xs:attribute name="isActive" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="true"/>
						<xs:pattern value="false"/>
						<xs:pattern value="userDefined"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="InstanceNumber" type="xs:integer" use="required"/>
			<xs:attribute name="CpuAffinity" type="xs:integer"/>
			<xs:attribute name="ConfigFilename" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BusId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DCMEnabled" type="xs:boolean" use="required"/>
			<xs:attribute name="AsyncBootMode" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreatorConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WrapperConfig" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RAS">
		<xs:complexType>
			<xs:attribute name="Enabled" type="xs:boolean" use="optional"/>
			<xs:attribute name="ServerTaskPrio" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ServerConnPort" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="ServerBindAddr" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ReceiverTaskPrio" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="InitAccessLevel" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="rasal_freeaccess"/>
						<xs:enumeration value="rasal_readonlyaccess"/>
						<xs:enumeration value="rasal_noaccess"/>
						<xs:enumeration value="rasal_neverrestrict"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FwUpdOpt" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="MaxNumRasConnections" type="xs:unsignedInt" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATEM_LOG_OPT">
		<xs:complexType>
			<xs:attribute name="LogHookEnabled" type="xs:boolean" use="required"/>
			<xs:attribute name="LogToShell" type="xs:boolean" use="required"/>
			<xs:attribute name="LogToFile" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DCM">
		<xs:complexType>
			<xs:attribute name="CtrlClockMsec" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="MasterSyncMultiplier" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="ControllerThreadPrio" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LimitCtlErrorNanosec" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="SyncTimeoutMillisec" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="CpuAffinity" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="Cpu0SyncSet" type="xs:boolean" use="optional"/>
			<xs:attribute name="HistogrammLogging" type="xs:boolean"/>
			<xs:attribute name="AcontisLogging" type="xs:boolean"/>
			<xs:attribute name="StartModeManual" type="xs:boolean" use="optional"/>
			<xs:attribute name="InSyncLimit_ns" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="CtlOff" type="xs:boolean" use="optional"/>
			<xs:attribute name="CtlSetVal" type="xs:int" use="optional"/>
			<xs:attribute name="CtlGain" type="xs:int" use="optional"/>
			<xs:attribute name="CtlDriftErrorGain" type="xs:int" use="optional"/>
			<xs:attribute name="MaxValidVal" type="xs:int" use="optional"/>
			<xs:attribute name="InSyncSettleTime" type="xs:unsignedInt" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WindViewAutoInitParameter">
		<xs:complexType>
			<xs:attribute name="Enabled" type="xs:boolean"/>
			<xs:attribute name="wvInitMem_kB" type="xs:unsignedLong"/>
			<xs:attribute name="wvLogClass" type="xs:unsignedLong"/>
			<xs:attribute name="wvObjInst" type="xs:unsignedLong" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EcatCtrlTask">
		<xs:complexType>
			<xs:attribute name="PollingRate" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="CpuAffinity" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="ClockMonitoring" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EcatAutoScanLimits">
		<xs:complexType>
			<xs:attribute name="MaxEniBusConfig" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="MaxSlavesPerEni" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="MaxHotConnectDevices" type="xs:unsignedLong" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EcatCreator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CreatorConfig"/>
				<xs:element ref="RAS" minOccurs="0"/>
				<xs:element ref="DCM" minOccurs="0"/>
				<xs:element ref="EcatCtrlTask" minOccurs="0"/>
				<xs:element ref="ATEM_LOG_OPT" minOccurs="0"/>
				<xs:element ref="EcatAutoScanLimits" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
