Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ECAT_SYS_X44.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Hugo Heine (KUKA Roboter GMBH) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>
	<xs:element name="ECat_SYS_X44">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version" minOccurs="0"/>
				<xs:element ref="ECatStackOptions"/>
				<xs:element ref="ECatIODriver" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="kukaVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECatStackOptions">
		<xs:complexType>
			<xs:attribute name="RestartMode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="manual"/>
						<xs:enumeration value="auto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MultiFrameLossLimit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MultiCycCmdWkcErrLimit" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BusCycleTimeMs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0.250"/>
						<xs:maxInclusive value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchedTickOffset">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AddSlavesToDiagMgr" type="xs:boolean" use="optional"/>
			<xs:attribute name="TopologyChangeDelay" type="xs:unsignedInt"/>
			<xs:attribute name="DCMode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PB_Master_Gateway">
		<xs:complexType>
			<xs:attribute name="ActivateADS" type="xs:boolean" use="optional"/>
			<xs:attribute name="LogErrToFile" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VARAN_Gateway">
		<xs:complexType>
			<xs:attribute name="UseAsyncData" type="xs:boolean" use="optional"/>
			<xs:attribute name="MakeOwnBusInstance" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EL6692_Gateway">
		<xs:complexType>
			<xs:attribute name="UseAsyncData" type="xs:boolean" use="optional"/>
			<xs:attribute name="MakeOwnBusInstance" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EL6695K_Gateway">
		<xs:complexType>
			<xs:attribute name="UseAsyncData" type="xs:boolean" use="optional"/>
			<xs:attribute name="MakeOwnBusInstance" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EL6695_Gateway">
		<xs:complexType>
			<xs:attribute name="UseAsyncData" type="xs:boolean" use="optional"/>
			<xs:attribute name="MakeOwnBusInstance" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECatIODriver">
		<xs:complexType>
			<xs:all>
				<xs:element ref="PB_Master_Gateway" minOccurs="0"/>
				<xs:element ref="EL6692_Gateway" minOccurs="0"/>
				<xs:element ref="VARAN_Gateway" minOccurs="0"/>
				<xs:element ref="EL6695K_Gateway" minOccurs="0"/>
				<xs:element ref="EL6695_Gateway" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
