Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ecat_DNM_Gateway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Version.xsd"/>
  <xs:element name="Slave">
    <xs:complexType>
      <xs:attribute name="MacId" type="xs:unsignedInt" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS-X44_DN-Master1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OptionalDNSlaveList"/>
        <xs:element ref="ContinueWithWarningDNSlaveList" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptionalDNSlaveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Slave" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueWithWarningDNSlaveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Slave" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECat_DNM_Gateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Version" minOccurs="0"/>
        <xs:element ref="SYS-X44_DN-Master1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
