Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/EtherCATAgentConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <!--todo <xs:redefine schemaLocation="NGVersion.xsd">-->
   <!-- *************************************************
      min- and maxInclusive have to be the same value
      this value has to be changed on every change of this file !!
      *************************************************** -->
   <!--<xs:simpleType name="VersionType">
         <xs:restriction base="VersionType">
            <xs:minInclusive value="1"/> 
            <xs:maxInclusive value="1"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:redefine>-->
   <xs:include schemaLocation="Units.xsd"/>
   <xs:simpleType name="UpdateDirection">
      <xs:restriction base="xs:string">
         <xs:enumeration value="input"/>
         <xs:enumeration value="output"/>
         <xs:enumeration value="both"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Slot">
      <xs:complexType>
         <xs:attribute name="SlotIndex" type="xs:unsignedShort" use="required"/>
         <xs:attribute name="DriverIndex" type="xs:unsignedShort" use="required"/>
         <xs:attribute name="Direction" type="UpdateDirection" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ScheduleConfiguration">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Slot" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="Division" type="xs:unsignedShort" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Bus">
      <xs:complexType>
         <xs:attribute name="Id" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>Obsolete. Kept for compatibility with 8.1. Can be removed.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="ClientId" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="EtherCATAgent">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element name="EAWaggonDriverConfig" type="strFileNameType"/>
            <xs:element name="ECATConfigFile" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Obsolete. Kept for compatibility with 8.1. Can be removed.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="ScheduleConfiguration" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Obsolete. Kept for compatibility with 8.1. Can be removed.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="Bus" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Obsolete. Kept for compatibility.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
