Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/HardwareStatusProviderLogging.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="HardwareStatusProviderLogging" type="HardwareStatusProviderType"/>
   <xs:complexType name="HardwareStatusProviderType">
      <xs:sequence>
         <xs:element type="xs:normalizedString" name="Path"/>
         <xs:element type="ThreadsType" name="Threads"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ThreadsType">
      <xs:sequence>
         <xs:element type="ThreadType" name="Thread" maxOccurs="unbounded" minOccurs="4"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ThreadType">
      <xs:sequence>
         <xs:element type="xs:normalizedString" name="Name"/>
         <xs:element type="xs:unsignedInt" name="CycleMs"/>
         <xs:element type="xs:boolean" name="Enabled" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>
