Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Histogram.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="HistogramConfig" type="HistogramConfigType"></xsd:element>
    
    <xsd:complexType name="HistogramConfigType">
    	<xsd:sequence maxOccurs="1" minOccurs="1">
    		<xsd:element name="SharedMemSizeInByte" maxOccurs="1"
    			minOccurs="1">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">

    					<xsd:minInclusive value="0"></xsd:minInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:element>
    		<xsd:element name="TargetDir" type="xsd:string"
    			maxOccurs="1" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="RotationCount" maxOccurs="1" minOccurs="1">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">

    					<xsd:minInclusive value="1"></xsd:minInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="version" type="xsd:float" use="required"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>