Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/HnfDiagMon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 sp1 (http://www.altova.com) von Florian Steigenberger (KUKA Roboter GmbH) bearbeitet -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="HnfDiagMonApi">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Settings"/>
            <xs:element ref="BusAliases"/>
            <xs:element ref="ViewProperties"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Settings">
      <xs:complexType>
         <xs:attribute name="diagTextId" type="xs:int"/>
         <xs:attribute name="displayName">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="viewLevel" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Hide"/>
                  <xs:enumeration value="User"/>
                  <xs:enumeration value="Developer"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="enabled" type="xs:boolean"/>
         <!-- enabled is needed for bachward compatibility with older files. This attribute is not used anymore. -->
      </xs:complexType>
   </xs:element>
   <xs:element name="BusAliases">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="BusInstance" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:unique name="BusAliases_BusInstance_BusName">
         <xs:selector xpath="./BusInstance"/>
         <xs:field xpath="@busName"/>
      </xs:unique>
   </xs:element>
   <xs:element name="BusInstance">
      <xs:complexType>
         <xs:attribute name="displayName" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="busName" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ViewProperties">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:unique name="ViewProperties_Item_Number">
         <xs:selector xpath="./Item"/>
         <xs:field xpath="@number"/>
      </xs:unique>
   </xs:element>
   <xs:element name="Item">
      <xs:complexType>
         <xs:attribute name="unit" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="eDiagNoUnit"/>
                  <xs:enumeration value="eDiagTime"/>
                  <xs:enumeration value="eDiagFrequency"/>
                  <xs:enumeration value="eDiagLength"/>
                  <xs:enumeration value="eDiagAngle"/>
                  <xs:enumeration value="eDiagLinearSpeed"/>
                  <xs:enumeration value="eDiagAngularSpeed"/>
                  <xs:enumeration value="eDiagLinearAcceleration"/>
                  <xs:enumeration value="eDiagAngularAcceleration"/>
                  <xs:enumeration value="eDiagLinearJerk"/>
                  <xs:enumeration value="eDiagAngularJerk"/>
                  <xs:enumeration value="eDiagTemperature"/>
                  <xs:enumeration value="eDiagCurrent"/>
                  <xs:enumeration value="eDiagCharge"/>
                  <xs:enumeration value="eDiagPower"/>
                  <xs:enumeration value="eDiagVoltage"/>
                  <xs:enumeration value="eDiagEnergy"/>
                  <xs:enumeration value="eDiagForce"/>
                  <xs:enumeration value="eDiagTorque"/>
                  <xs:enumeration value="eDiagPressure"/>
                  <xs:enumeration value="eDiagArea"/>
                  <xs:enumeration value="eDiagMass"/>
                  <xs:enumeration value="eDiagVolume"/>
                  <xs:enumeration value="eDiagAreaInertia"/>
                  <xs:enumeration value="eDiagLinearMomentum"/>
                  <xs:enumeration value="eDiagAngularMomentum"/>
                  <xs:enumeration value="eDiagStiffness"/>
                  <xs:enumeration value="eDiagDamping"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="type" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="eBool"/>
                  <xs:enumeration value="eBoolAsEnum"/>
                  <xs:enumeration value="eByte"/>
                  <xs:enumeration value="eByteAsEnum"/>
                  <xs:enumeration value="eByteAsBitfield"/>
                  <xs:enumeration value="eUByte"/>
                  <xs:enumeration value="eUByteAsEnum"/>
                  <xs:enumeration value="eUByteAsBitfield"/>
                  <xs:enumeration value="eInt16"/>
                  <xs:enumeration value="eInt16AsEnum"/>
                  <xs:enumeration value="eInt16AsBitfield"/>
                  <xs:enumeration value="eUInt16"/>
                  <xs:enumeration value="eUInt16AsEnum"/>
                  <xs:enumeration value="eUInt16AsBitfield"/>
                  <xs:enumeration value="eInt32"/>
                  <xs:enumeration value="eInt32AsEnum"/>
                  <xs:enumeration value="eInt32AsBitfield"/>
                  <xs:enumeration value="eUInt32"/>
                  <xs:enumeration value="eUInt32AsEnum"/>
                  <xs:enumeration value="eUInt32AsBitfield"/>
                  <xs:enumeration value="eUInt32AsFloat"/>
                  <xs:enumeration value="eUInt32AsHex"/>
                  <xs:enumeration value="eInt64"/>
                  <xs:enumeration value="eUInt64"/>
                  <xs:enumeration value="eUInt64AsDouble"/>
                  <xs:enumeration value="eFloat"/>
                  <xs:enumeration value="eDouble"/>
                  <xs:enumeration value="eUndefined"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="symbolicName" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="scale" type="xs:double" use="required"/>
         <xs:attribute name="yellowMin" type="xs:double" use="required"/>
         <xs:attribute name="yellowMax" type="xs:double" use="required"/>
         <xs:attribute name="redMin" type="xs:double" use="required"/>
         <xs:attribute name="redMax" type="xs:double" use="required"/>
         <xs:attribute name="number" type="xs:int" use="required"/>
         <!-- aka DiagText-ID -->
      </xs:complexType>
   </xs:element>
</xs:schema>
