Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/ippnio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			2004-04-22 GFr		creation
		</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="unsigned8">
		<xsd:restriction base="xsd:unsignedByte"/>
	</xsd:simpleType>
	<xsd:simpleType name="unsigned16">
		<xsd:restriction base="xsd:unsignedShort"/>
	</xsd:simpleType>
	<xsd:simpleType name="unsigned32">
		<xsd:restriction base="xsd:unsignedInt"/>
	</xsd:simpleType>
	<xsd:simpleType name="unsigned64">
		<xsd:restriction base="xsd:unsignedLong"/>
	</xsd:simpleType>
	<xsd:complexType name="t_guid">
		<xsd:sequence>
			<xsd:element name="d1" type="unsigned32"/>
			<xsd:element name="d2" type="unsigned16"/>
			<xsd:element name="d3" type="unsigned16"/>
			<xsd:element name="d4" type="unsigned8" minOccurs="8" maxOccurs="8"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="IPV4">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])">
				<xsd:annotation>
					<xsd:documentation>
                  					Datatype for representing IP addresses.  Examples,
                    				 129.83.64.255, 64.128.2.71, etc.
                  						This datatype restricts each field of the IP address
                 					 to have a value between zero and 255, i.e.,
                    				 [0-255].[0-255].[0-255].[0-255]
            				 	 </xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="t_hexString">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(([0-9]|[A-F]){2})*([0-9]|[A-F]){2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="IPPNIO">
		<xsd:annotation>
			<xsd:documentation>Root Element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Version">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="UUID">
								<xsd:annotation>
									<xsd:documentation>UUID of this Configuration File</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="ExCRC" use="required">
												<xsd:annotation>
													<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:short">
														<xsd:enumeration value="0"/>
														<xsd:enumeration value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CfgBrokerVersion" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Version of the PNIOCfgBroker</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CRC">
								<xsd:annotation>
									<xsd:documentation>Checksum for Download Changes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="ExCRC" use="required">
										<xsd:annotation>
											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:short">
												<xsd:enumeration value="0"/>
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="CRCVal" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Value of Checksum for Download Changes</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CtlrParas">
					<xsd:annotation>
						<xsd:documentation>Parameter for the IOController</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CtlrIP">
								<xsd:annotation>
									<xsd:documentation>IPAdress</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="d1" type="unsigned8" use="required"/>
									<xsd:attribute name="d2" type="unsigned8" use="required"/>
									<xsd:attribute name="d3" type="unsigned8" use="required"/>
									<xsd:attribute name="d4" type="unsigned8" use="required"/>
									<xsd:attribute name="ExCRC" use="optional">
										<xsd:annotation>
											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:short">
												<xsd:enumeration value="0"/>
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CtlrMask">
								<xsd:annotation>
									<xsd:documentation>Subnet-Mask</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="d1" type="unsigned8" use="required"/>
									<xsd:attribute name="d2" type="unsigned8" use="required"/>
									<xsd:attribute name="d3" type="unsigned8" use="required"/>
									<xsd:attribute name="d4" type="unsigned8" use="required"/>
									<xsd:attribute name="ExCRC" use="optional">
										<xsd:annotation>
											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:short">
												<xsd:enumeration value="0"/>
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CtlrGate">
								<xsd:annotation>
									<xsd:documentation>Default-Gateway</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="d1" type="unsigned8" use="required"/>
									<xsd:attribute name="d2" type="unsigned8" use="required"/>
									<xsd:attribute name="d3" type="unsigned8" use="required"/>
									<xsd:attribute name="d4" type="unsigned8" use="required"/>
									<xsd:attribute name="ExCRC" use="optional">
										<xsd:annotation>
											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:short">
												<xsd:enumeration value="0"/>
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StatN" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>PROFINET-Stationname (DNS-Name)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Station">
								<xsd:annotation>
									<xsd:documentation>Stationname (Description from User)</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="ExCRC" use="required">
												<xsd:annotation>
													<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:short">
														<xsd:enumeration value="0"/>
														<xsd:enumeration value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DevName">
								<xsd:annotation>
									<xsd:documentation>Devicename</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="ExCRC" use="required">
												<xsd:annotation>
													<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:short">
														<xsd:enumeration value="0"/>
														<xsd:enumeration value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ModEquId">
								<xsd:annotation>
									<xsd:documentation>ModuleEquipmentId</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="ExCRC" use="required">
												<xsd:annotation>
													<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:short">
														<xsd:enumeration value="0"/>
														<xsd:enumeration value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FDCMLFile" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Name of the FDCML-File</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CEId" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>uniqueId of Communicationentity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ARs">
					<xsd:annotation>
						<xsd:documentation>List of ARs</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AR" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="AR"/>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AR">
		<xsd:sequence>
			<xsd:element name="ARUUID">
				<xsd:complexType>
					<xsd:attribute name="d1" type="unsigned32" use="required"/>
					<xsd:attribute name="d2" type="unsigned16" use="required"/>
					<xsd:attribute name="d3" type="unsigned16" use="required"/>
					<xsd:attribute name="d4" type="unsigned8" use="required"/>
					<xsd:attribute name="d5" type="unsigned8" use="required"/>
					<xsd:attribute name="d6" type="unsigned8" use="required"/>
					<xsd:attribute name="d7" type="unsigned8" use="required"/>
					<xsd:attribute name="d8" type="unsigned8" use="required"/>
					<xsd:attribute name="d9" type="unsigned8" use="required"/>
					<xsd:attribute name="d10" type="unsigned8" use="required"/>
					<xsd:attribute name="d11" type="unsigned8" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ARProp">
				<xsd:annotation>
					<xsd:documentation>ARProperties</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="State" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="PRIMARY"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="SVTO" use="required">
						<xsd:annotation>
							<xsd:documentation>Supervisor Takeover Allowed</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="NOT_ALLOWED"/>
								<xsd:enumeration value="ALLOWED"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="PSrv" use="required">
						<xsd:annotation>
							<xsd:documentation>Parameterserver - Default=CM_INITIATOR</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="CM_INITIATOR"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="DRate" use="required">
						<xsd:annotation>
							<xsd:documentation>Datarate</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="DR_AT_LEAST_100_MBIT"/>
								<xsd:enumeration value="DR_100_MBIT"/>
								<xsd:enumeration value="DR_1_GBIT"/>
								<xsd:enumeration value="DR_10_GBIT"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="CRTr" use="required">
						<xsd:annotation>
							<xsd:documentation>CR Transport - SRT or UDP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="SRT_TRANSPORT"/>
								<xsd:enumeration value="UDP_TRANSPORT"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="CfgDiff" use="required">
						<xsd:annotation>
							<xsd:documentation>Configuration Difference</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="NOT_ALLOWED"/>
								<xsd:enumeration value="ALLOWED"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="LogConStat" use="required">
						<xsd:annotation>
							<xsd:documentation>Log Connection State</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="YES"/>
								<xsd:enumeration value="NO"/>
								<xsd:enumeration value="RECONNECT"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="IgnFS" use="required">
						<xsd:annotation>
							<xsd:documentation>Ignore Failsafe</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="YES"/>
								<xsd:enumeration value="NO"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CRs">
				<xsd:annotation>
					<xsd:documentation>List of CRs</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CRPara" maxOccurs="2">
							<xsd:annotation>
								<xsd:documentation>CR Parameter Block</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CRHdr">
										<xsd:annotation>
											<xsd:documentation>CR Header</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:attribute name="VLID" use="required">
												<xsd:annotation>
													<xsd:documentation>VLANID - Default=NO_VLANID</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="NO_VLANID"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="CRPrio" use="required">
												<xsd:annotation>
													<xsd:documentation>CRPriority - Default=IOCR_PRIORITY</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="IOCR_PRIORITY"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="MCAddr">
										<xsd:annotation>
											<xsd:documentation>Multicast Addresss - Default=0</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:attribute name="d1" type="unsigned8" use="required"/>
											<xsd:attribute name="d2" type="unsigned8" use="required"/>
											<xsd:attribute name="d3" type="unsigned8" use="required"/>
											<xsd:attribute name="d4" type="unsigned8" use="required"/>
											<xsd:attribute name="d5" type="unsigned8" use="required"/>
											<xsd:attribute name="d6" type="unsigned8" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="RelAPICRs">
										<xsd:annotation>
											<xsd:documentation>List of Related API IOCR</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="APICR" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Related API IOCR</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="RelDatas" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>List of Related IO-Data</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="RelDat" type="t_related_io_object" minOccurs="0" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation>Related IO-Data</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="RelDatCnt" type="unsigned16" use="required"/>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="RelIOCSs" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>List of Related IOCS</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="RelIOCS" type="t_related_io_object" minOccurs="0" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation>Related IOCS</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="RelIOCSCnt" type="unsigned16" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
														<xsd:attribute name="API" type="unsigned32" use="required"/>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="APICnt" type="unsigned16" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="BlVers" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>BlockVersion</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="CRID" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>CR ID</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="RTCls" use="required">
									<xsd:annotation>
										<xsd:documentation>RTClass</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="RT_CLASS1_RTC"/>
											<xsd:enumeration value="RT_CLASS2_RTC"/>
											<xsd:enumeration value="RT_CLASS3_RTC"/>
											<xsd:enumeration value="RT_CLASS1_UDP"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="MdRedn" type="xsd:boolean" use="required">
									<xsd:annotation>
										<xsd:documentation>MesiaRedundancy</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="CRTyp" use="required">
									<xsd:annotation>
										<xsd:documentation>In or Out</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="INPUT_CR"/>
											<xsd:enumeration value="OUTPUT_CR"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="DatLn" use="required">
									<xsd:annotation>
										<xsd:documentation>DataLength</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="1440"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="FrID" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>FrameID</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="SndClc" use="required">
									<xsd:annotation>
										<xsd:documentation>Sendclock</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="128"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="RedRat" use="required">
									<xsd:annotation>
										<xsd:documentation>Reductionratio</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:pattern value="1|2|4|8|16|32|64|128|256|512|1024|2048|4096|8192|16384"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="Phs" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Phase</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="Seq" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Sequenze - Default=0</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="FrOffst" use="required">
									<xsd:annotation>
										<xsd:documentation>FrameOffset - Default=BEST_EFFORT</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="BEST_EFFORT"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="WtchD" use="required">
									<xsd:annotation>
										<xsd:documentation>Watchdog</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="3"/>
											<xsd:maxInclusive value="49152"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="DatHld" use="required">
									<xsd:annotation>
										<xsd:documentation>DataHold</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="3"/>
											<xsd:maxInclusive value="49152"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="APDUOffst">
									<xsd:annotation>
										<xsd:documentation>APDUOffset</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="CRCnt" type="unsigned16" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModParas">
				<xsd:annotation>
					<xsd:documentation>Lost of Module Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ModPara" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Moduleparameter</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ModName">
										<xsd:annotation>
											<xsd:documentation>Modulename (like Devicename)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="ExCRC" use="required">
														<xsd:annotation>
															<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="0"/>
																<xsd:enumeration value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ModEquId">
										<xsd:annotation>
											<xsd:documentation>ModuleEquipmentId</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="ExCRC" use="required">
														<xsd:annotation>
															<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="0"/>
																<xsd:enumeration value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="FDCMLFile" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Name of the FDCML-File</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CEId" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>uniqueId of Communicationentity</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="SlNr" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Slotnumber</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="ModParCnt" type="unsigned16" use="required">
						<xsd:annotation>
							<xsd:documentation>Module Parameter Count</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SMParas">
				<xsd:annotation>
					<xsd:documentation>List of Submodule Parameter Blocks</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SMPara" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Submodule Parameter Block</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="RelAPISMs">
										<xsd:annotation>
											<xsd:documentation>List of Related API Submodule</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="APISM" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Related API Submodule</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="SMs">
																<xsd:annotation>
																	<xsd:documentation>List of Submodule Description</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="SMDes" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation>Submodule Description</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="SMProp" type="t_submodule_properties">
																						<xsd:annotation>
																							<xsd:documentation>Submodule Properties</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="SMElDess">
																						<xsd:annotation>
																							<xsd:documentation>List of Submodule Element Description</xsd:documentation>
																						</xsd:annotation>
																						<xsd:complexType>
																							<xsd:sequence>
																								<xsd:element name="SMElDes" maxOccurs="unbounded">
																									<xsd:annotation>
																										<xsd:documentation>Submodule Element Description</xsd:documentation>
																									</xsd:annotation>
																									<xsd:complexType>
																										<xsd:attribute name="Offst" type="unsigned16" use="required">
																											<xsd:annotation>
																												<xsd:documentation>Offset in Memory</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																										<xsd:attribute name="Intpret" use="required">
																											<xsd:annotation>
																												<xsd:documentation>Interpretation</xsd:documentation>
																											</xsd:annotation>
																											<xsd:simpleType>
																												<xsd:restriction base="xsd:string">
																													<xsd:enumeration value="DATA"/>
																													<xsd:enumeration value="IOPS"/>
																													<xsd:enumeration value="IOCS"/>
																												</xsd:restriction>
																											</xsd:simpleType>
																										</xsd:attribute>
																										<xsd:attribute name="Len" type="unsigned16" use="required">
																											<xsd:annotation>
																												<xsd:documentation>Length</xsd:documentation>
																											</xsd:annotation>
																										</xsd:attribute>
																										<xsd:attribute name="SubsMod" use="required">
																											<xsd:annotation>
																												<xsd:documentation>Substitutionmode</xsd:documentation>
																											</xsd:annotation>
																											<xsd:simpleType>
																												<xsd:restriction base="xsd:string">
																													<xsd:enumeration value="NULL_VALUE"/>
																												</xsd:restriction>
																											</xsd:simpleType>
																										</xsd:attribute>
																										<xsd:attribute name="Descr" use="required">
																											<xsd:annotation>
																												<xsd:documentation>Data Description</xsd:documentation>
																											</xsd:annotation>
																											<xsd:simpleType>
																												<xsd:restriction base="xsd:string">
																													<xsd:enumeration value="DATA_INPUT"/>
																													<xsd:enumeration value="DATA_OUTPUT"/>
																												</xsd:restriction>
																											</xsd:simpleType>
																										</xsd:attribute>
																									</xsd:complexType>
																								</xsd:element>
																							</xsd:sequence>
																							<xsd:attribute name="ElCnt" type="unsigned16" use="required">
																								<xsd:annotation>
																									<xsd:documentation>Count of Elements</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attribute>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="ModName">
																						<xsd:annotation>
																							<xsd:documentation>Modulename (like Devicename)</xsd:documentation>
																						</xsd:annotation>
																						<xsd:complexType>
																							<xsd:simpleContent>
																								<xsd:extension base="xsd:string">
																									<xsd:attribute name="ExCRC" use="required">
																										<xsd:annotation>
																											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
																										</xsd:annotation>
																										<xsd:simpleType>
																											<xsd:restriction base="xsd:short">
																												<xsd:enumeration value="0"/>
																												<xsd:enumeration value="1"/>
																											</xsd:restriction>
																										</xsd:simpleType>
																									</xsd:attribute>
																								</xsd:extension>
																							</xsd:simpleContent>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="ModEquId">
																						<xsd:annotation>
																							<xsd:documentation>ModuleEquipmentId</xsd:documentation>
																						</xsd:annotation>
																						<xsd:complexType>
																							<xsd:simpleContent>
																								<xsd:extension base="xsd:string">
																									<xsd:attribute name="ExCRC" use="required">
																										<xsd:annotation>
																											<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
																										</xsd:annotation>
																										<xsd:simpleType>
																											<xsd:restriction base="xsd:short">
																												<xsd:enumeration value="0"/>
																												<xsd:enumeration value="1"/>
																											</xsd:restriction>
																										</xsd:simpleType>
																									</xsd:attribute>
																								</xsd:extension>
																							</xsd:simpleContent>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="FDCMLFile" type="xsd:string">
																						<xsd:annotation>
																							<xsd:documentation>Name of the FDCML-File</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="CEId" type="xsd:string">
																						<xsd:annotation>
																							<xsd:documentation>uniqueId of Communicationentity</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																				<xsd:attribute name="SMID" type="unsigned32" use="required">
																					<xsd:annotation>
																						<xsd:documentation>SubmoduleID</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																				<xsd:attribute name="SSlNr" use="required">
																					<xsd:annotation>
																						<xsd:documentation>Subslotnumber</xsd:documentation>
																					</xsd:annotation>
																					<xsd:simpleType>
																						<xsd:restriction base="unsigned16">
																							<xsd:minInclusive value="1"/>
																							<xsd:maxInclusive value="32767"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="SMCnt" type="unsigned16" use="required">
																		<xsd:annotation>
																			<xsd:documentation>Count of Submodule Descriptions</xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
														<xsd:attribute name="API" type="unsigned32" use="required"/>
														<xsd:attribute name="SlNr" type="unsigned16" use="required">
															<xsd:annotation>
																<xsd:documentation>Slotnumber</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
														<xsd:attribute name="ModID" type="unsigned32" use="required">
															<xsd:annotation>
																<xsd:documentation>ModuleID</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
														<xsd:attribute name="ModProp" type="unsigned16" use="required">
															<xsd:annotation>
																<xsd:documentation>ModuleProperties</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="BlVers" type="unsigned16" use="required">
												<xsd:annotation>
													<xsd:documentation>BlockVersion</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="RelAPICnt" type="unsigned16" use="required">
												<xsd:annotation>
													<xsd:documentation>Count of Related Apis</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="SMCnt" type="unsigned16" use="required">
						<xsd:annotation>
							<xsd:documentation>Submodule Parameter Count</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlCRParas">
				<xsd:annotation>
					<xsd:documentation>List of Alarm CR Parameter Block</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AlCRPara" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Alarm CR Parameter Block</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="BlVers" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>BlockVersion</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="AlCRPrTp" use="required">
									<xsd:annotation>
										<xsd:documentation>AlarmCRProtType</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="DATA_RTA_PDU"/>
											<xsd:enumeration value="UDP_RTA_PDU"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="Prio" use="required">
									<xsd:annotation>
										<xsd:documentation>Priority</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="USER_PRIORITY"/>
											<xsd:enumeration value="LOW_PRIORITY"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="RTATmout" use="required">
									<xsd:annotation>
										<xsd:documentation>RTA-Timeout</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="Retr" use="required">
									<xsd:annotation>
										<xsd:documentation>Retries</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="3"/>
											<xsd:maxInclusive value="15"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="LocAlRef" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Local Alarm Reference</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="MaxAlLen" use="required">
									<xsd:annotation>
										<xsd:documentation>Maximum Alarm Length</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="200"/>
											<xsd:maxInclusive value="1432"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="AlCRCnt" type="unsigned16" use="required">
						<xsd:annotation>
							<xsd:documentation>Alarm-CR Count</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DevParas">
				<xsd:annotation>
					<xsd:documentation>List of Device Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DevPara">
							<xsd:annotation>
								<xsd:documentation>Device Parameter Block</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="IP">
										<xsd:annotation>
											<xsd:documentation>IPAdress</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:attribute name="d1" type="unsigned8" use="required"/>
											<xsd:attribute name="d2" type="unsigned8" use="required"/>
											<xsd:attribute name="d3" type="unsigned8" use="required"/>
											<xsd:attribute name="d4" type="unsigned8" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Mask">
										<xsd:annotation>
											<xsd:documentation>Subnet-Mask</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:attribute name="d1" type="unsigned8" use="required"/>
											<xsd:attribute name="d2" type="unsigned8" use="required"/>
											<xsd:attribute name="d3" type="unsigned8" use="required"/>
											<xsd:attribute name="d4" type="unsigned8" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Gate">
										<xsd:annotation>
											<xsd:documentation>Default-Gateway</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:attribute name="d1" type="unsigned8" use="required"/>
											<xsd:attribute name="d2" type="unsigned8" use="required"/>
											<xsd:attribute name="d3" type="unsigned8" use="required"/>
											<xsd:attribute name="d4" type="unsigned8" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Station">
										<xsd:annotation>
											<xsd:documentation>Stationname (Description from User)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="ExCRC" use="required">
														<xsd:annotation>
															<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="0"/>
																<xsd:enumeration value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DevName">
										<xsd:annotation>
											<xsd:documentation>DeviceName</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="ExCRC" use="required">
														<xsd:annotation>
															<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="0"/>
																<xsd:enumeration value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ModEquId">
										<xsd:annotation>
											<xsd:documentation>ModuleEquipmentId</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="ExCRC" use="required">
														<xsd:annotation>
															<xsd:documentation>1 = Excclude in CRC for Download Changes ; 0 = Include</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:short">
																<xsd:enumeration value="0"/>
																<xsd:enumeration value="1"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="FDCMLFile" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Name of the FDCML-File</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CEId" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>uniqueId of Communicationentity</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="DevID" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Device ID</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="VndID" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Vendor ID</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="DevIns" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>DeviceInstance</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="StatNLen" type="unsigned8" use="required">
									<xsd:annotation>
										<xsd:documentation>Length of Stationname (DNS-Name)</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="StatN" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation>Stationname (DNS-Name)</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="IPovDNS" type="xsd:boolean" use="required">
									<xsd:annotation>
										<xsd:documentation>Flag IP over DNS</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ARParas">
				<xsd:annotation>
					<xsd:documentation>List of ARParameter</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ARPara" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>AR Parameter</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Para" type="t_hexString">
										<xsd:annotation>
											<xsd:documentation>Parameter Data</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="SlNr" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Slotnumber</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="SSlNr" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Subslotnumber</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="Idx" use="required">
									<xsd:annotation>
										<xsd:documentation>Index</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="unsigned16">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="ParaLen" type="unsigned16" use="required">
									<xsd:annotation>
										<xsd:documentation>Parameterlength</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="BlVers" type="unsigned16" use="required">
			<xsd:annotation>
				<xsd:documentation>BlockVersion - Default=0x0100 - from DeviceDescription</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ARTyp" use="required">
			<xsd:annotation>
				<xsd:documentation>ARType - Default=IO_AR_SINGLE</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="IO_AR_SINGLE"/>
					<xsd:enumeration value="IO_AR_SHARED"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ARUID" type="unsigned16" use="required">
			<xsd:annotation>
				<xsd:documentation>AR UserID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="MulWrt" type="xsd:boolean" use="required">
			<xsd:annotation>
				<xsd:documentation>MultipleWrite</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FSUMdTout" type="unsigned32" use="required">
			<xsd:annotation>
				<xsd:documentation>FSUModeAndTimeout FastStartup</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ConTout" use="optional">
			<xsd:annotation>
				<xsd:documentation>Connection Timeout</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="t_related_io_object">
		<xsd:attribute name="SlNr" use="required">
			<xsd:annotation>
				<xsd:documentation>Slotnumber</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="unsigned16">
					<xsd:maxInclusive value="32767"/>
					<xsd:minInclusive value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="SSlNr" use="required">
			<xsd:annotation>
				<xsd:documentation>Subslotnumber</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="unsigned16">
					<xsd:maxInclusive value="32767"/>
					<xsd:minInclusive value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="t_submodule_properties">
		<xsd:annotation>
			<xsd:documentation>This strukture includes properties for one Submodule</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="SMTyp" use="required">
			<xsd:annotation>
				<xsd:documentation>Submoduletype</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NO_IO"/>
					<xsd:enumeration value="INPUT"/>
					<xsd:enumeration value="OUTPUT"/>
					<xsd:enumeration value="IO"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Shar" use="required">
			<xsd:annotation>
				<xsd:documentation>Shared</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SHARED_INPUT"/>
					<xsd:enumeration value="NO_SHARED_INPUT"/>
					<xsd:enumeration value="INVALID"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
