Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Kcp3Drv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DeviceNumber"          type="xs:int"/>
   <xs:element name="ServerPortNumber"      type="xs:int"/>
   <xs:element name="ClientPortNumber"      type="xs:int"/>
   <xs:element name="ServerPortNumberKSB"   type="xs:int"/>
   <xs:element name="ServerPortNumberKLI"   type="xs:int"/>
   <xs:element name="ClientPortNumberKSB"   type="xs:int"/>
   <xs:element name="ClientPortNumberKLI"   type="xs:int"/>
   <xs:element name="ThreadPriority"        type="xs:int"/>
   <xs:element name="MessageLossTolerance"  type="xs:int"/>
   <xs:element name="UnplugCountdownSec"    type="xs:int"/>
   <xs:element name="Nullradius1"           type="xs:int"/>
   <xs:element name="Nullradius2"           type="xs:int"/>
   <xs:element name="Nullradius3"           type="xs:int"/>
   <xs:element name="Nullradius4"           type="xs:int"/>
   <xs:element name="Nullradius5"           type="xs:int"/>
   <xs:element name="Nullradius6"           type="xs:int"/>
   <xs:element name="ErrorLimit1"           type="xs:int"/>
   <xs:element name="ErrorLimit2"           type="xs:int"/>
   <xs:element name="ErrorLimit3"           type="xs:int"/>
   <xs:element name="ErrorLimit4"           type="xs:int"/>
   <xs:element name="ErrorLimit5"           type="xs:int"/>
   <xs:element name="ErrorLimit6"           type="xs:int"/>

   <xs:element name="NetworkIFInfo">
      <xs:complexType>
         <xs:sequence>
             <xs:element ref="DeviceNumber"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="StatusServer">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="ServerPortNumber"/>
            <xs:element ref="ClientPortNumber"/>
            <xs:element ref="ThreadPriority"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CyclicServer">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="ServerPortNumberKSB"/>
            <xs:element ref="ServerPortNumberKLI"/>
            <xs:element ref="ClientPortNumberKSB"/>
            <xs:element ref="ClientPortNumberKLI"/>
            <xs:element ref="MessageLossTolerance"/>
            <xs:element ref="UnplugCountdownSec"/>
            <xs:element ref="ThreadPriority"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SpaceMouse">
       <xs:complexType>
         <xs:sequence>
            <xs:element ref="Nullradius1"/>
            <xs:element ref="Nullradius2"/>
            <xs:element ref="Nullradius3"/>
            <xs:element ref="Nullradius4"/>
            <xs:element ref="Nullradius5"/>
            <xs:element ref="Nullradius6"/>
            <xs:element ref="ErrorLimit1"/>
            <xs:element ref="ErrorLimit2"/>
            <xs:element ref="ErrorLimit3"/>
            <xs:element ref="ErrorLimit4"/>
            <xs:element ref="ErrorLimit5"/>
            <xs:element ref="ErrorLimit6"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ApplicationModuleName" type="xs:string"/>
   <xs:element name="Config">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="NetworkIFInfo"/>
            <xs:element ref="StatusServer"/>
            <xs:element ref="CyclicServer"/>
            <xs:element ref="SpaceMouse"/>
            <xs:element ref="ApplicationModuleName"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Driver">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Config"/>
         </xs:sequence>
         <xs:attribute name="kukaVersion" type="xs:string" use="required"/>
         <xs:attribute name="Name" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
