Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/KNet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="Host">
      <xs:complexType>
         <xs:attribute name="Name" type="xs:string" use="required"/>
         <xs:attribute name="NonRealtimeIp" type="xs:string" use="required"/>
         <xs:attribute name="RealtimeIp" type="xs:string" use="required"/>
         <xs:attribute name="isLocalHost" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="HostTable">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Host" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="KNet">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element name="RoboTeamVLAN">
               <xs:complexType>
                  <xs:attribute name="isActive" type="xs:boolean" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element ref="HostTable"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
