Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/KrcConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="BACKWARD_STEP">
      <xs:complexType>
         <xs:attribute name="ENABLE" type="xs:boolean" use="optional"/>
         <xs:attribute name="MOVEMENTS" type="xs:unsignedInt" use="optional"/>
         <xs:attribute name="BACKWARD_WARNING" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBW">
      <xs:annotation>
         <xs:documentation>Konstanten, die für Rückwärtsfahren über
            MOVE_BACKWARD() relevant sind; sie sind alle optional, die
            Reihenfolge ist unerheblich
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element ref="MIN_DECAY_DIST" minOccurs="0"/>
            <xs:element ref="MAX_OFFSET_CART" minOccurs="0"/>
            <xs:element ref="MAX_OFFSET_ORI" minOccurs="0"/>
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:element name="MIN_DECAY_DIST">
      <xs:annotation>
         <xs:documentation> Minmalar Weg zum Offsetabbau [mm]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-10"/>
                  <xs:maxInclusive value="500"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_OFFSET_CART">
      <xs:annotation>
         <xs:documentation>Maximaler Kartesischer Offset beim Rückwartsfahren [mm]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-10"/>
                  <xs:maxInclusive value="1000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_OFFSET_ORI">
      <xs:annotation>
         <xs:documentation>Maximaler Orientierungsoffset beim Rückwartsfahren [°]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-10"/>
                  <xs:maxInclusive value="180"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_KFA_MEM_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="524288"/>
                  <xs:maxInclusive value="10485760"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_UP_TRIGGER_TIMEOUT">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:int">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="2147000000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="TIMEOUT_MSG_IN_AUT">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="WS_DIAG_CHECK_RATE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MSG_DONT_BLOCK_IN_TEST">
      <xs:complexType>
         <xs:attribute name="Value" use="optional" default="1">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="63"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="WORKSPACE_PORT">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1024"/>
                  <xs:maxInclusive value="65535"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="WAIT_FOR_INDEX_RES">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="TEST">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="ADSAUSGABE"/>
            <xs:element ref="ADS_LOGGING"/>
            <xs:element ref="DEBUGMASK"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="STOP_AT_PTP_SINGULARITY">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SLOW_BCO_EXT">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SIZE">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="A_PAGE_MAX_SIZE"/>
            <xs:element ref="O_PAGE_MAX_SIZE"/>
            <xs:element ref="MIN_PHY_PAGES" minOccurs="0"/>
            <xs:element ref="MIN_PHY_PAGES_BASIS" minOccurs="0"/>
            <xs:element ref="EXPANSION_SIZE"/>
            <xs:element ref="BINDING_PAGE_SIZE"/>
            <xs:element ref="ERROR_FILE_SIZE"/>
            <xs:element ref="MIN_DOLLAR_GLOBAL" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SEND_MODE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="23"/>
                  <xs:enumeration value="broadcast"/>
                  <xs:enumeration value="singlecast"/>
                  <xs:enumeration value="multicast"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="REPORT_FREQUENCY">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="O_PAGE_MAX_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="16"/>
                  <xs:maxInclusive value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="OBJH_DELAY_TIME">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="OBJH_DELAY_CYCLE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="NO_STOP_ON_BCO">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MemConfig">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="MODULE"/>
            <xs:element ref="SIZE"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="MSTEP_IN_EXT">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MOVE_KEYS_NEW">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MOTIONSYNC">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="SEND_MODE"/>
            <xs:element ref="REPORT_FREQUENCY"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="MODULE">
      <xs:complexType>
         <xs:attribute name="MAX_MODULE_NUM" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="32"/>
                  <xs:maxInclusive value="4096"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MIN_PHY_PAGES_BASIS">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="500"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MIN_PHY_PAGES">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_POS_TRIGGER_DELAY">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="PATHTRIGG_MSG_TOLERANCE_SHIFTLIMIT_PATH_MM">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="PATHTRIGG_MSG_TOLERANCE_SHIFTLIMIT_DELAY_MSEC">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="DISTTRIGG_MSG_TOLERANCE_SHIFTLIMIT_DELAY_MSEC">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_DISTERR_ABS_ACCUR">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="PROGRAM_DATA_TRACE_BUFFER_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong">
                  <xs:minInclusive value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_IOLINKS">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="64"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="M309">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="LINE_SEL_LOCAL_SUB">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="KrcConfig">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="MemConfig"/>
            <xs:element ref="TEST"/>
            <xs:element ref="MOTIONSYNC"/>
            <xs:element ref="FEATURES"/>
            <xs:element ref="KRLDIAG"/>
            <xs:element ref="MBW" minOccurs="0"/>
            <xs:element ref="BACKWARD_STEP" minOccurs="0"/>
            <xs:element ref="TRAFO_CFG" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="IO_SYS_DOWN_ON_24V">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="IOSYS_IN_TRUE">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="4096"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="IOSYS_IN_FALSE">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="4096"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="INT_STACK_MONITORING">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:byte">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="3"/>
                  <xs:enumeration value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="GLOBAL_KEY">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SUSPEND_SETINFOS">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="FEATURES">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="CONST_KEY"/>
            <xs:element ref="GLOBAL_KEY"/>
            <xs:element ref="ALL_MOD_RO_WHEN_RINT_SEL" minOccurs="0"/>
            <xs:element ref="MAX_DOWNLOADS"/>
            <xs:element ref="SUSPEND_SETINFOS"/>
            <xs:element ref="MOVE_KEYS_NEW"/>
            <xs:element ref="MSTEP_IN_EXT"/>
            <xs:element ref="SLOW_BCO_EXT"/>
            <xs:element ref="NO_STOP_ON_BCO"/>
            <xs:element ref="IO_SYS_DOWN_ON_24V"/>
            <xs:element ref="IOSYS_IN_TRUE" minOccurs="0"/>
            <xs:element ref="IOSYS_IN_FALSE" minOccurs="0"/>
            <xs:element ref="ANALIMITMSG" minOccurs="0"/>
            <xs:element ref="MAX_POS_TRIGGER_DELAY" minOccurs="0"/>
            <xs:element ref="PATHTRIGG_MSG_TOLERANCE_SHIFTLIMIT_PATH_MM" minOccurs="0"/>
            <xs:element ref="PATHTRIGG_MSG_TOLERANCE_SHIFTLIMIT_DELAY_MSEC" minOccurs="0"/>
            <xs:element ref="DISTTRIGG_MSG_TOLERANCE_SHIFTLIMIT_DELAY_MSEC" minOccurs="0"/>
            <xs:element ref="MAX_DISTERR_ABS_ACCUR" minOccurs="0"/>
            <xs:element ref="PROGRAM_DATA_TRACE_BUFFER_SIZE" minOccurs="0"/>
            <xs:element ref="M309"/>
            <xs:element ref="MAX_IOLINKS"/>
            <xs:element ref="INT_STACK_MONITORING"/>
            <xs:element ref="MSG_DONT_BLOCK_IN_TEST"/>
            <xs:element ref="MAX_KFA_MEM_SIZE"/>
            <xs:element ref="LINE_SEL_LOCAL_SUB"/>
            <xs:element ref="OBJH_DELAY_CYCLE"/>
            <xs:element ref="OBJH_DELAY_TIME"/>
            <xs:element ref="WS_DIAG_CHECK_RATE"/>
            <xs:element ref="TIMEOUT_MSG_IN_AUT"/>
            <xs:element ref="MAX_UP_TRIGGER_TIMEOUT"/>
            <xs:element ref="Customer_VW"/>
            <xs:element ref="Customer_KUKA"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="EXPANSION_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="4"/>
                  <xs:maxInclusive value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ERROR_FILE_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="4"/>
                  <xs:maxInclusive value="128"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="MIN_DOLLAR_GLOBAL">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="32768"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="Customer_VW">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="STOP_AT_PTP_SINGULARITY"/>
            <xs:element ref="WAIT_FOR_INDEX_RES"/>
            <xs:element name="CYCFL_IDX_MOV_COND">
               <xs:complexType>
                  <xs:attribute name="Value" use="optional">
                     <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt">
                           <xs:minInclusive value="1"/>
                           <xs:maxInclusive value="320"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Customer_KUKA">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="STOP_AT_PTP_SINGULARITY"/>
            <xs:element ref="WAIT_FOR_INDEX_RES"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CONST_KEY">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ALL_MOD_RO_WHEN_RINT_SEL">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_DOWNLOADS">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:unsignedInt" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="BINDING_PAGE_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="4"/>
                  <xs:maxInclusive value="128"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="A_PAGE_MAX_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="16"/>
                  <xs:maxInclusive value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ANALIMITMSG">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ADS_LOGGING">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ADSAUSGABE">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="KRLDIAG">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="MAX_LOGS"/>
            <xs:element ref="BUF_SIZE_INT"/>
            <xs:element ref="BUF_SIZE_EXT_SINT" minOccurs="0"/>
            <xs:element ref="BUF_SIZE_ZYK"/>
            <xs:element ref="BUF_SIZE_PBA"/>
            <xs:element ref="BUF_SIZE_KFI"/>
            <xs:element ref="TABLE_SIZE"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="MAX_LOGS">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="BUF_SIZE_INT">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="BUF_SIZE_EXT_SINT">
      <xs:complexType>
         <xs:attribute name="Value" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="BUF_SIZE_ZYK">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="BUF_SIZE_PBA">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="BUF_SIZE_KFI">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="TABLE_SIZE">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="DEBUGMASK">
      <xs:complexType>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedLong"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="TRAFO_CFG">
      <xs:annotation>
         <xs:documentation>Konstanten und Bitmasken für die singuläre Sonderbehandlung der Trafo (vom Spline genutzt)
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="SINGUL_EPS_JOINT" type="xs:double" use="optional">
            <xs:annotation>
               <xs:documentation>Epsilon für die Sonderbehandlung der Handachssingularität</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="SINGUL_EPS_CART" type="xs:double" use="optional">
            <xs:annotation>
               <xs:documentation>Epsilon für die Sonderbehandlung der Grundachssingularitäten</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="ONE_SIDE_SINGUL_MASK" type="xs:unsignedInt" use="optional">
            <xs:annotation>
               <xs:documentation>Kennung ob der Spline bei nur einseitig erkannten Singularitäten in die Sonderbehandlung (Achspara direkt verwenden) wechseln darf.
                  Bit 0: Überkopfsingularität
                  Bit 2: Handsingularität (Default)
                  (Bit 1 wird momentan nicht ausgewertet)
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
</xs:schema>
