Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/KrcExtConfMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Graf Stefan (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="AllowQuitAll">
      <xs:complexType>
         <xs:attribute name="Value" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Message">
      <xs:complexType>
         <xs:attribute name="Number" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="AllowConfInExt" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="KrcExtConfMsg">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0"/>
            <xs:element ref="AllowQuitAll" minOccurs="0"/>
            <xs:element ref="Message" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
