Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/KRCVectormove.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd" />
   <xs:element name="ErrorLimits">
      <xs:annotation>
         <xs:documentation>Konstanten, die Überwachungsschwellen einstellen,
            um Fehlprogrammierungen bzw. Fehlverhalten zu unterbinden
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="LIMIT_COMMAND" use="optional">
            <xs:annotation>
               <xs:documentation>Um offensichtliche Fehlprogrammierungen zu
                  erkennen, wird überwacht, ob der Sollwert, der ja während aktivem
                  Vektormove irrelevant ist, den Vektor nicht grob verlässt.
                  Dies ist der Wert, wie weit der Sollwert während aktivem Vektormove
                  das Vektorintervall verlassen darf. [rad, m](Abtriebswinkel) </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-10" />
                  <xs:maxInclusive value="100" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="LIMIT_OFF_DEVIATION" use="optional">
            <xs:annotation>
               <xs:documentation>Grenze für erlaubte Soll-Ist-Abweichung beim
                  Abschalten  [rad](Motorwinkel)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-10" />
                  <xs:maxInclusive value="10" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="VMV_STABILITY_BOUNDARY" use="optional">
            <xs:annotation>
               <xs:documentation>Untergrenze für die Mindeststabilität bei der die führende 
                  Achse noch gezogen werden kann. Stabilität ist das Minimum der 
                  Verfahrwegsquotienten von Folgeachsen und führender Achse </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="0.0" />
                  <xs:maxInclusive value="10" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="VMV_MAX_AXIS_TOL" use="optional">
            <xs:annotation>
               <xs:documentation>maximal tolerierter Achswinkel für VMV [ ° oder
                  mm]</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="0.1" />
                  <xs:maxInclusive value="100" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="VMV_MIN_AXIS_TOL" use="optional">
            <xs:annotation>
               <xs:documentation>minimal tolerierter Achswinkel für VMV [ ° oder
                  mm]</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:double">
                  <xs:minInclusive value="1E-15" />
                  <xs:maxInclusive value="1" />
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="VectorMove">
      <xs:annotation>
         <xs:documentation>Konfiurationsparameter für den Vektormove, die
            eingentlich Konstanten sind.
            Bei Bedarf können diese Konstanten (auch teilweise überschrieben
            werden)
            Das Komplette Files sowie alle Einträge sind optional
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="1" maxOccurs="1" />
            <xs:element ref="ErrorLimits" minOccurs="0" maxOccurs="1" />
            <xs:element ref="SelectionMalus" minOccurs="0" maxOccurs="1" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SelectionMalus">
      <xs:annotation>
         <xs:documentation>Malus-Faktoren zur Auswahl der fürhrenden Achsen
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="A1" type="MalusEntry" use="optional"></xs:attribute>
         <xs:attribute name="A2" type="MalusEntry" use="optional"></xs:attribute>
         <xs:attribute name="A3" type="MalusEntry" use="optional"></xs:attribute>
         <xs:attribute name="A4" type="MalusEntry" use="optional"></xs:attribute>
         <xs:attribute name="A5" type="MalusEntry" use="optional"></xs:attribute>
         <xs:attribute name="A6" type="MalusEntry" use="optional"></xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="MalusEntry">
      <xs:annotation>
         <xs:documentation>Malus-Faktor für eine einzelne Achse bei der
            automatischen Ermittlung der fürhenden Achse. Je kleiner der Faktor,
            desto unwahrscheinlich ist, dass diese Achse fürhend wird.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double">

         <xs:minInclusive value="0.0"></xs:minInclusive>
         <xs:maxInclusive value="1.0"></xs:maxInclusive>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
