Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Logging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ContextLoggingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="disabled"/>
			<xs:enumeration value="enabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumStrategy">
	    <xs:restriction base="xs:string">
		    <xs:pattern value="PureContext|Mixed|PureClass"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumFormat">
	    <xs:restriction base="xs:string">
		    <xs:pattern value="putty|csv"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClassLogLevelType">
		<xs:restriction base="xs:string">
			<!--xs:enumeration value="disabled" />
			<xs:enumeration value="fatal" />
			<xs:enumeration value="error" />
			<xs:enumeration value="warning" />
			<xs:enumeration value="basic" />
			<xs:enumeration value="info" />
			<xs:enumeration value="debug" />
			<xs:enumeration value="trace" /-->
			<xs:pattern value="[0-9]+|disabled|fatal|error|warning|basic|info|debug|trace"/>   <!-- see ILogging.h for log level values -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfflineLoggingType">
		<xs:restriction base="xs:string">			
			<xs:enumeration value="file"/>			
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LoggingStrategy">
	    <xs:complexType>
		    <xs:attribute name="Strategy" type="EnumStrategy" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Context">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="ContextLogging" type="ContextLoggingType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultContextConfig">
		<xs:complexType>
			<xs:attribute name="ContextLogging" type="ContextLoggingType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultClassConfig">
		<xs:complexType>
			<xs:attribute name="LogLevel" type="ClassLogLevelType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Class">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:anyURI" use="required"/>
			<xs:attribute name="LogLevel" type="ClassLogLevelType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContextConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefaultContextConfig" minOccurs="0"/>
				<xs:element ref="Context" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefaultClassConfig"/>
				<xs:element ref="Class" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogRegistry">
		<xs:complexType>
			<xs:sequence>
			    <xs:element ref="LoggingStrategy"/>
				<xs:element ref="ContextConfig"/>
				<xs:element ref="ClassConfig"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="IPAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LogClient">
		<xs:complexType>
			<xs:attribute name="ServerAddress" type="IPAddressType" use="required"/>
			<xs:attribute name="Port" type="PortType" use="required"/>
			<xs:attribute name="Tries" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogConfigServer">
		<xs:complexType>
			<xs:attribute name="HostAddress" type="IPAddressType" use="required"/>
			<xs:attribute name="Port" type="PortType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoggingOptions">
		<xs:complexType>
			<xs:attribute name="TelnetOutput" type="xs:boolean" use="required"/>
			<xs:attribute name="OfflineLogging" type="OfflineLoggingType" use="required"/>
			<xs:attribute name="TaskPriority" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogFile">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="NbrFiles" type="xs:int" use="required"/>
			<xs:attribute name="FileSize" type="xs:int" use="required"/>
			<xs:attribute name="FileFormat" type="EnumFormat" use="optional"/>
		</xs:complexType>
	</xs:element>
   <xs:element name="RemoteLogging">
      <xs:complexType>
         <xs:attribute name="ServicesActive"      type="xs:boolean" use="required"/>
         <xs:attribute name="RRAServerPort"       type="xs:int"     use="required"/>
         <xs:attribute name="RRANotifierDestPort" type="xs:int"     use="required"/>
         <xs:attribute name="LogMsgProxyPort"     type="xs:int"     use="required"/>
      </xs:complexType>
   </xs:element>
	<xs:element name="LogManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogClient"/>
				<xs:element ref="LogConfigServer"/>
				<xs:element ref="LogFile"/>
				<xs:element ref="LoggingOptions"/>
				<xs:element ref="RemoteLogging" maxOccurs="1"/>
				<xs:element ref="LogRegistry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>