Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/MM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xml:lang="EN"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <!--todo<xs:redefine schemaLocation="NGVersion.xsd">-->
      <!-- *************************************************
         min- and maxInclusive have to be the same value
         this value has to be changed on every change of this file !!
         *************************************************** -->
      <!--<xs:simpleType name="VersionType">
         <xs:restriction base="VersionType">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="1"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:redefine>-->
   <xs:include schemaLocation="NGThread.xsd"/>
   <xs:simpleType name="integer1-256">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="integer1-32">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Config">
      <xs:complexType>
         <xs:attribute name="MaxAxis" type="integer1-256" use="required"/>
         <xs:attribute name="MaxSensor" type="integer1-256" use="optional"/>
         <xs:attribute name="MaxIpo" type="integer1-32" use="required"/>
         <xs:attribute name="MaxDriver" type="integer1-32" use="required"/>
         <xs:attribute name="MaxMeasureChannel" type="integer1-32" use="required"/>
         <xs:attribute name="MasterSlaveFile" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="MM">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="Config"/>
            <xs:element ref="Thread"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
