Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/MMAxisAdapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 (http://www.altova.com) von Karsten Monreal (KUKA Deutschland GmbH) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <!-- todo <xs:redefine schemaLocation="NGVersion.xsd">-->
   <!-- *************************************************
         min- and maxInclusive have to be the same value
         this value has to be changed on every change of this file !!
         *************************************************** -->
   <!--<xs:simpleType name="VersionType">
         <xs:restriction base="VersionType">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="1"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:redefine>-->
   <xs:complexType name="tTorqueSlave">
      <xs:attribute name="ID" use="required">
         <xs:annotation>
            <xs:documentation>Antriebs-ID</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:short">
               <xs:minInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Reversion" type="xs:boolean" use="required">
         <xs:annotation>
            <xs:documentation>Richtungsumkehr bzgl. Master</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SpeedLag" use="required">
         <xs:annotation>
            <xs:documentation>Grenze fuer Ueberwachung in UpM, 0 = off</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TorqueRatio" use="required">
         <xs:annotation>
            <xs:documentation>Wichtungsfaktor</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minExclusive value="0.0"/>
               <xs:maxInclusive value="+10.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="tPositionSlave">
      <xs:sequence>
         <xs:element name="TorqueSlave" type="tTorqueSlave" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ID" use="required">
         <xs:annotation>
            <xs:documentation>Antriebs-ID</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:short">
               <xs:minInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Reversion" type="xs:boolean" use="required">
         <xs:annotation>
            <xs:documentation>Richtungsumkehr bzgl. Master</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PositionLag" use="required">
         <xs:annotation>
            <xs:documentation>Grenze fuer Ueberwachung in [deg]</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="tTensionSlave">
      <xs:attribute name="ID" use="required">
         <xs:annotation>
            <xs:documentation>Antriebs-ID</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:short">
               <xs:minInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Reversion" type="xs:boolean" use="required">
         <xs:annotation>
            <xs:documentation>Richtungsumkehr bzgl. Master</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PositionLag" use="required">
         <xs:annotation>
            <xs:documentation>Grenze fuer Ueberwachung in [deg]</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Tensioning" type="xs:double">
         <xs:annotation>
            <xs:documentation>bei Konfiguration: feste Verspannung zwischen Master und Slave [Nm]</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="tAxis">
      <xs:annotation>
         <xs:documentation>Einzelne Master-Slave-Achse</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element name="TensionSlave" type="tTensionSlave"/>
            <xs:sequence maxOccurs="unbounded">
               <xs:choice>
                  <xs:element name="PositionSlave" type="tPositionSlave"/>
                  <xs:element name="TorqueSlave" type="tTorqueSlave"/>
               </xs:choice>
            </xs:sequence>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="ID" use="required">
         <xs:annotation>
            <xs:documentation>Antriebs-ID des Masters</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:short">
               <xs:minInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="tAxes">
      <xs:annotation>
         <xs:documentation>Alle Master-Slave Achsen</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Axis" type="tAxis"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="MMAxisAdapter">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element name="Axes" type="tAxes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
