Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Modules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Carola John (KUKA Roboter GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>
	<!--&lt;xs:redefine schemaLocation=&quot;Version.xsd&quot;&gt;-->
	<!-- *************************************************
         min- and maxInclusive have to be the same value
         this value has to be changed on every change of this file !!
         *************************************************** -->
	<!--&lt;xs:simpleType name=&quot;VersionType&quot;&gt;
         &lt;xs:restriction base=&quot;VersionType&quot;&gt;
            &lt;xs:minInclusive value=&quot;1&quot;/&gt;
            &lt;xs:maxInclusive value=&quot;1&quot;/&gt;
         &lt;/xs:restriction&gt;
      &lt;/xs:simpleType&gt;
   &lt;/xs:redefine&gt;-->
	<xs:element name="SystemCycle">
		<xs:complexType>
			<xs:attribute name="CycleTime" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Module">
		<xs:complexType>
			<xs:attribute name="reload" type="xs:boolean" use="optional"/>
			<xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="runFaulty" type="xs:boolean" use="optional"/>
         <!-- This module is a message consumer. Set this option only on one module! -->
         <xs:attribute name="isMessageConsumer" type="xs:boolean" use="optional"/>
			<xs:attribute name="Name" type="xs:anyURI" use="required"/>
			<xs:attribute name="DisplayName" type="xs:anyURI" use="required"/>
			<xs:attribute name="Config" type="xs:anyURI" use="required"/>
			<xs:attribute name="Prio" type="xs:anyURI" use="required"/>
			<xs:attribute name="Stacksize" type="xs:anyURI" use="required"/>
         <!-- Affinity is the core on which this module should run:
              0 or 1 on DualCore, 0 to 3 on QuadCore ... -->
			<xs:attribute name="Affinity" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModuleList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="SystemCycle" minOccurs="0"/>
				<xs:element ref="Module" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
