Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGAxis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <xs:include schemaLocation="Units.xsd"/>
   <xs:include schemaLocation="NGAxisTypes.xsd"/>
   <xs:element name="AxisData">
      <xs:complexType>
         <xs:attribute name="Simulation" type="simulationType" use="required">
            <xs:annotation>
               <xs:documentation>Simulation mode for axis</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="Type" type="xs:string">
            <xs:annotation>
               <xs:documentation>obsolete; value will be ignored</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="Mode" type="xs:string">
            <xs:annotation>
               <xs:documentation>obsolete; value will be ignored</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="SingleMotorCoupling" type="xs:string">
            <xs:annotation>
               <xs:documentation>obsolete; value will be ignored </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="MessageDisable" type="xs:unsignedLong">
            <xs:annotation>
               <xs:documentation>obsolete; value will be ignored</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="machineType">
      <xs:attribute name="Name" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:element name="Axis">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0"/>
            <xs:element name="Machine" type="machineType"/>
            <xs:element ref="AxisData"/>
            <xs:element name="ToolMotor" maxOccurs="16">
               <xs:annotation>
                  <xs:documentation>for coupling functionality</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ExternalSensor" minOccurs="0">
                        <xs:complexType>
                           <xs:attribute name="GearRatio" type="fractionType" use="required">
                              <xs:annotation>
                                 <xs:documentation>[numerator/denominator]</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                           <xs:attribute name="Type" use="required">
                              <xs:annotation>
                                 <xs:documentation>Type of sensor: Rotator or Translator</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rotator"/>
                                    <xs:enumeration value="Translator"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="PosEncPolePairNumber" use="optional">
                              <xs:annotation>
                                 <xs:documentation>Polpair count of external resolver</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="MaxSpeedLag" use="required">
                              <xs:annotation>
                                 <xs:documentation>in UpM, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="DriveSide" type="xs:boolean" use="optional" default="false">
                              <xs:annotation>
                                 <xs:documentation>true = ExternalSensor is on drive side</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Monitoring">
                        <xs:complexType>
                           <xs:attribute name="PositionLag" use="required">
                              <xs:annotation>
                                 <xs:documentation>in deg, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="PositionLagSoft">
                              <xs:annotation>
                                 <xs:documentation>obsolete; value will be ignored </xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="PosLagEscalationFactor" use="optional" default="1.5">
                              <xs:annotation>
                                 <xs:documentation>Factor is multplied with configured PositionLag-windows to create a second (bigger) monitoring-window for stop-reaction with drive ramp stop.
                                 Exceeding the configured PositionLag-windows now only leads to a ipo emergency stop.</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="1.0"/>
                                    <xs:maxInclusive value="10.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="Speed" use="required">
                              <xs:annotation>
                                 <xs:documentation>in UpM, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="SpeedLag" use="required">
                              <xs:annotation>
                                 <xs:documentation>in UpM, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Limit">
                        <xs:complexType>
                           <xs:attribute name="Speed" use="required">
                              <xs:annotation>
                                 <xs:documentation>in UpM, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="Current" use="required">
                              <xs:annotation>
                                 <xs:documentation>in A, 0 = off</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="AdditionalBrake" minOccurs="0">
                        <xs:complexType>
                           <xs:attribute name="HoldingTorque" use="required">
                              <xs:annotation>
                                 <xs:documentation>in Nm</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minExclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="OpenTime" use="required">
                              <xs:annotation>
                                 <xs:documentation>in ms</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="CloseTime" use="required">
                              <xs:annotation>
                                 <xs:documentation>in ms</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="DelayTime" use="required">
                              <xs:annotation>
                                 <xs:documentation>in ms; delay between closing 1st and 2nd brake</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                 <xs:restriction base="xs:double">
                                    <xs:minInclusive value="0.0"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                           <xs:attribute name="DisableSCS" default="false">
                              <xs:annotation>
                                 <xs:documentation>disable short circuit stop</xs:documentation>
                              </xs:annotation>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="EmergencyStopTorque">
                     <xs:annotation>
                        <xs:documentation>obsolete; value will be ignored</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ExtTorqueOfInertia" use="required">
                     <xs:annotation>
                        <xs:documentation>(without motor inertia) in kgm^2</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="MaximalEnergy" use="required">
                     <xs:annotation>
                        <xs:documentation>in J</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="RampUpTimeUnderLoad" use="required">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                           <xs:maxInclusive value="10000.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="RampStopTime" use="required">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                           <xs:maxInclusive value="10000.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="MinRampStopTime" type="xs:double" use="optional">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s. Must be in between RampStopTimeWithBrake and RampStopTime.</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="RampStopTimeWithBrake" type="xs:double" use="optional">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="SwbTrqFactor" type="xs:double"/>
                  <xs:attribute name="SwbSingleTrqOff" type="xs:boolean"/>
                  <xs:attribute name="SCBDelay" type="xs:double" use="optional" default="-1.0"/>
                  <xs:attribute name="kTCharacteristic" default="false">
                     <xs:annotation>
                        <xs:documentation>use kT-Characteristic instead of kT-Factor</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ContinuousCurrent" type="xs:double" use="optional">
                     <xs:annotation>
                        <xs:documentation>Maximal sustainable continuous current of cabeling, plugs, etc. in A</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ContinuousCurrentTime" type="xs:double" use="optional">
                     <xs:annotation>
                        <xs:documentation>Time-intervall in s for I^2*t-monitoring of holding current overload</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MotorFile" type="xs:string" use="required"/>
                  <xs:attribute name="ServoFile" type="xs:string" use="required"/>
                  <xs:attribute name="ParameterFile" type="xs:string" use="required"/>
                  <xs:attribute name="AdditionalFunctionFile" type="strFileNameType" use="optional"/>
                  <xs:anyAttribute namespace="##any" processContents="skip"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="LinkedSensor" minOccurs="0" maxOccurs="4">
               <xs:complexType>
                  <xs:attribute name="ID" use="required">
                     <xs:annotation>
                        <xs:documentation>ID of Sensor to link to</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:int">
                           <xs:minInclusive value="1"/>
                           <xs:maxInclusive value="255"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="DriveSide" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>true = PositionTracker is on drive side</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ForwardMastering" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>true = Mastering / Unmastering is forwarded</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
            <xs:element name="Inversion" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>obsolete</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="Position" type="xs:boolean" use="required"/>
                  <xs:attribute name="Velocity" type="xs:boolean" use="required"/>
                  <xs:attribute name="Torque" type="xs:boolean" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="Delay" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>obsolete</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="ActValue">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s, obsolete</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                           <xs:maxInclusive value="10000.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="CmdValue">
                     <xs:annotation>
                        <xs:documentation>in 10^-3 s, obsolete</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.0"/>
                           <xs:maxInclusive value="10000.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
            <xs:element name="Mastering">
               <xs:complexType>
                  <xs:attribute name="Type" type="xs:string" use="required"/>
                  <xs:attribute name="ChannelName" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="PositionRange" minOccurs="0">
               <xs:complexType>
                  <xs:attribute name="Type" type="xs:string" use="required"/>
                  <xs:attribute name="ChannelName" type="xs:string" use="required"/>
                  <xs:attribute name="MaxLevelDistance" type="xs:integer" use="required">
                     <xs:annotation>
                        <xs:documentation>in deg </xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="EndBufSensitivity" default="-1.0">
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="-1.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
            <xs:element name="BrakeTest" minOccurs="0">
               <xs:complexType>
                  <xs:attribute name="SafetyFactor" use="required">
                     <xs:annotation>
                        <xs:documentation>Safetyfactor for brake torque check; used to detect brake wear</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minInclusive value="0.9"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="AxisVel" use="required">
                     <xs:annotation>
                        <xs:documentation>in % of maximal velocity of motor; velocity for parameter identification</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:maxInclusive value="10.0"/>
                           <xs:minExclusive value="0.5"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="DetectMovementVelocity">
                     <xs:annotation>
                        <xs:documentation>Velocity threshold in deg/s from which movement is detected</xs:documentation>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:double">
                           <xs:minExclusive value="0.0"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="StrenghtenBrake" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Strengthen weak brake</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
