Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGCtrlTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 (http://www.altova.com) von Stolte (KUKA Deutschland GmbH) bearbeitet -->
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Stolte (KUKA Deutschland GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Units.xsd"/>
   <xs:complexType name="machineType">
      <xs:attribute name="Name" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="GlobalParameterType">
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Value" type="xs:string" use="required"/>
      <xs:attribute name="MinValue" type="xs:string" use="required"/>
      <xs:attribute name="MaxValue" type="xs:string" use="required"/>
      <xs:attribute name="EvalBoundary" type="EvalBoundaryType" use="required"/>
      <xs:attribute name="Access" type="IPOAccess" use="required"/>
      <xs:attribute name="Index" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="Type" type="xs:string" use="optional"/>
      <xs:attribute name="DataType" type="DataTypeType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ParameterType">
      <xs:sequence>
         <xs:element name="Set" type="ParameterSet" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="MinValue" type="xs:double" use="required"/>
      <xs:attribute name="MaxValue" type="xs:double" use="required"/>
      <xs:attribute name="EvalBoundary" type="EvalBoundaryType" use="required"/>
      <xs:attribute name="Access" type="IPOAccess" use="required"/>
      <xs:attribute name="Index" type="xs:unsignedInt" use="required"/>
   </xs:complexType>
   <xs:complexType name="ParameterSet">
      <xs:attribute name="Name" type="ParameterSetName" use="required"/>
      <xs:attribute name="Value" type="xs:double" use="required"/>
   </xs:complexType>
   <xs:simpleType name="ParameterSetName">
      <xs:restriction base="xs:string">
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="IPOAccess">
      <xs:restriction base="xs:string">
         <xs:pattern value="[rwcovuRWCOVU]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="EvalBoundaryType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Off"/>
         <xs:enumeration value="Min"/>
         <xs:enumeration value="Max"/>
         <xs:enumeration value="MinMax"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DataTypeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="int"/>
         <xs:enumeration value="int64"/>
         <xs:enumeration value="double"/>
         <xs:enumeration value="bool"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="DefaultControllerType">
      <xs:attribute name="PosGain" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PosIntTime" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VelGain" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VelIntTime" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:double">
               <xs:minInclusive value="0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
