Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGCtrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <xs:include schemaLocation="NGCtrlTypes.xsd"/>
   <xs:element name="CtrlParam">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0" />
            <xs:element name="Machine" type="machineType"/>
            <xs:element name="Controller" minOccurs="0">
               <xs:complexType>
                  <xs:attribute name="ID" type="xs:unsignedInt" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:sequence>
               <xs:element name="GlobalParameter" type="GlobalParameterType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:sequence>
               <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:element name="DefaultController" type="DefaultControllerType" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Not supported any more. Kept for backward compatibility. PTP values are used instead.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>