Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGCtrlAdditionalFunctions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 (http://www.altova.com) von Stolte (KUKA Deutschland GmbH) bearbeitet -->
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Stolte (KUKA Deutschland GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Units.xsd"/>
   <xs:include schemaLocation="NGVersion.xsd"/>
   <xs:element name="AdditionalFunctions">
      <xs:complexType>
         <xs:sequence>
            <xs:sequence>
               <xs:element ref="Version" minOccurs="0" />
            </xs:sequence>
            <xs:sequence minOccurs="0">
               <xs:element name="AdditionalCtrlFiles" type="AdditionalCtrlFilesType"/>
            </xs:sequence>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="AdditionalCtrlFileType">
      <xs:attribute name="FileName" type="strFileNameType" use="required"/>
      <xs:attribute name="isActive" type="xs:boolean" use="required"/>
   </xs:complexType>
   <xs:complexType name="AdditionalCtrlFilesType">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
         <xs:element name="AdditionalCtrlFile" type="AdditionalCtrlFileType"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
