Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGCtrlUser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 (http://www.altova.com) von Stolte (KUKA Deutschland GmbH) bearbeitet -->
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Stolte (KUKA Deutschland GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="NGVersion.xsd"/>
	<xs:include schemaLocation="NGCtrlTypes.xsd"/>
	<xs:element name="CtrlParam">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version" minOccurs="0" />
				<xs:sequence>
					<xs:element name="GlobalParameter" type="GlobalParameterType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
