Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGSensor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="NGVersion.xsd"/>
   <xs:include schemaLocation="Units.xsd"/>
   <xs:include schemaLocation="NGAxisTypes.xsd"/>
   <xs:complexType name="tEncoderData">
     <xs:attribute name="Available" type="xs:boolean" use="required"/>
     <xs:attribute name="RatioMotorEncoder" type="fractionType" use="required">
        <xs:annotation>
           <xs:documentation>[x/y]</xs:documentation>
        </xs:annotation>
     </xs:attribute>
     <xs:attribute name="Offset" type="xs:double" use="required"/>
     <xs:attribute name="IsLinear" type="xs:boolean" use="optional"/>
     <xs:attribute name="VelFilterFreq" type="xs:double" use="optional"/>
   </xs:complexType>
   <xs:element name="Sensor">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version" minOccurs="0" />
            <xs:element name="SensorSimulation" type="simulationType"/>
            <xs:element name="EncoderData" type="tEncoderData"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
