Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/NGThread.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xml:lang="EN"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:simpleType name="threadPrioType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Thread Prioritaet (enum Werte)
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Thread priority (enum values)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="lowest"/>
         <xs:enumeration value="low"/>
         <xs:enumeration value="lowmed"/>
         <xs:enumeration value="medium"/>
         <xs:enumeration value="medhigh"/>
         <xs:enumeration value="high"/>
         <xs:enumeration value="highest"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="threadType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Thread Konfiguration
         </xs:documentation>
         <xs:documentation xml:lang="EN">
            Thread configuration
         </xs:documentation>
      </xs:annotation>
      <xs:attribute name="Priority" type="threadPrioType" use="required">
      </xs:attribute>
      <xs:attribute name="CycleTime" type="xs:double" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="DE">
               Zykluszeit [µs]
            </xs:documentation>
            <xs:documentation xml:lang="EN">
               Cycle time [µs]
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DelayTime" type="xs:double" use="optional"
         default="0">
         <xs:annotation>
            <xs:documentation xml:lang="DE">
               Verzoegerungszeit [µs] (Phasenverschiebung)
            </xs:documentation>
            <xs:documentation xml:lang="EN">
               Delay time [µs] (phase shift)
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="systemClockType">
      <xs:attribute name="CycleTime" type="xs:double" use="required"/>
   </xs:complexType>
   <xs:element name="Thread" type="threadType"/>
   <xs:element name="ClockThread" type="threadType"/>
   <xs:element name="SystemClock" type="systemClockType"/>
</xs:schema>