Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/OpcUaAdapter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 
   <xs:complexType name="CoeValueInfo">
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="vendorId" type="xs:integer" use="required"/>
      <xs:attribute name="productCode" type="xs:integer" use="required"/>
      <xs:attribute name="busIndex" type="xs:integer" use="required"/>
      <xs:attribute name="coeIndex" type="xs:integer" use="required"/>
      <xs:attribute name="coeSubindex" type="xs:integer" use="required"/>
      <xs:attribute name="valueType" use="required" >
		  <xs:simpleType>
		   <xs:restriction base="xs:integer">
		     <xs:minInclusive value="0"/>
		     <xs:maxInclusive value="10"/>
		   </xs:restriction>
		 </xs:simpleType>
		</xs:attribute>
   </xs:complexType> 
   
   <xs:element name="OpcUaAdapter">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Interval">
               <xs:complexType>
                  <xs:attribute name="Frequency" type="xs:integer" use="required" />
               </xs:complexType>
            </xs:element>         
            <xs:element name="CoeValueInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CoeValue" type="CoeValueInfo" maxOccurs="unbounded" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>          
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
