Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/OSBaseAgent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="SmiDisable">
      <xs:complexType>
         <xs:attribute name="DelayMs" type="xs:unsignedInt" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="OSBaseAgent">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="SmiDisable"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
