Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/pndev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Eveline Mühlbauer (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>
	<xs:element name="Submodule">
		<xs:complexType>
			<xs:attribute name="SubmoduleIdentNumber" type="xs:unsignedInt" use="required"/>
			<xs:attribute name="OutDataLen" type="xs:unsignedInt" use="required"/>
			<xs:attribute name="Number" type="xs:unsignedShort" use="required"/>
			<xs:attribute name="InDataLen" type="xs:unsignedInt" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pndev">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Module" maxOccurs="256"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Module">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Submodule" maxOccurs="256"/>
			</xs:sequence>
			<xs:attribute name="Number" type="xs:unsignedShort" use="required"/>
			<xs:attribute name="ModuleIdentNumber" type="xs:unsignedInt" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Driver">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version" minOccurs="0"/>
				<xs:element ref="Pndev"/>
			</xs:sequence>
			<xs:attribute name="kukaVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
