Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/PortConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:include schemaLocation="Version.xsd"/>

   <xs:element name="PortConfig">
      <xs:complexType>
         <xs:sequence>
         <xs:element ref="Version"/>
         <xs:element ref="Ports"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Ports">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Port" maxOccurs="6" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Port">
      <xs:complexType>
         <xs:attribute name="Name" type="nameType" use="required"/>
         <xs:attribute name="AddToVids" use="required">
            <xs:simpleType>
               <xs:restriction base="vid_list">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="11"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="DfltVlan" type="vlanIdType" use="required"/>
         <xs:attribute name="IsActive" type="xs:boolean" use="optional" default="true"/>
         <xs:attribute name="Speed" type="speedType" use="optional"/>
         <xs:attribute name="Mode" type="modeType" use="optional"/>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="nameType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="XF1" />
         <xs:enumeration value="XF2" />
         <xs:enumeration value="XF3" />
         <xs:enumeration value="XF4" />
         <xs:enumeration value="XF5" />
         <xs:enumeration value="XF6" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="vid_list">
      <xs:list itemType="vlanIdType"/>
   </xs:simpleType>
   <xs:simpleType name="vlanIdType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="4096"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="speedType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="10M" />
         <xs:enumeration value="100M" />
         <xs:enumeration value="1000M" />
         <xs:enumeration value="10G" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="modeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Half" />
         <xs:enumeration value="Full" />
         <xs:enumeration value="Auto" />
      </xs:restriction>
   </xs:simpleType>

</xs:schema>
