Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SpManager.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ManageLinuxChannel" type="xs:boolean"></xs:element>
  <xs:element name="CloseLinuxEthernet" type="xs:boolean"></xs:element>

  <xs:element name="TriggerPcapWrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BootphaseAcknowledge" type="xs:boolean" minOccurs="0" maxOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hnf" minOccurs="1" maxOccurs="2"/>
        <xs:element ref="cycleTime" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hnf">
    <xs:complexType>
      <xs:attribute name="stackSize" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="102400"/>
            <xs:maxInclusive value="2097152"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="threadPriority" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cpuIndex" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="cycleTime">
    <xs:complexType>
      <xs:attribute name="configuredCycleTime" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minExclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ManageLinuxChannel"/>
        <xs:element ref="CloseLinuxEthernet"/>
        <xs:element ref="TriggerPcapWrite"/>
        <xs:element ref="Tasks"/>
      </xs:sequence>
      </xs:complexType>
  </xs:element>
</xs:schema>
