Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SpServicesMsgAPI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 sp1 (http://www.altova.com) von Florian Steigenberger (KUKA Roboter GmbH) bearbeitet -->
<!--W3C Schema erstellt mit XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SpServicesMsgAPI">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Consumer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Consumer">
      <xs:complexType>
         <xs:attribute name="name" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="defaultByGSI" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
