Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SpServices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 sp1 (http://www.altova.com) von Florian Steigenberger (KUKA Roboter GmbH) bearbeitet -->
<!--W3C Schema erstellt mit XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Services">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Service" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:unique name="Services_Service_Name">
         <xs:selector xpath="./Service"/>
         <xs:field xpath="@name"/>
      </xs:unique>
   </xs:element>
   <xs:element name="Service">
      <xs:complexType>
         <xs:attribute name="tick" type="xs:int" use="required"/>
         <xs:attribute name="priority" type="xs:int" use="required"/>
         <xs:attribute name="name" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="isActive" type="xs:boolean" use="required"/>
         <xs:attribute name="delay" type="xs:int" use="required"/>
         <xs:attribute name="config" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="SpServices">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Services"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
