Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SysBusDriver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit Notepad++ v4.8.5 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>
	<xs:element name="SysBusDriver">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="BusInstance" maxOccurs="2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Inputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Host" maxOccurs="16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Outputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Host" maxOccurs="16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Host">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Offset" type="xs:int" use="required"/>
			<xs:attribute name="Size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Inputs" maxOccurs="1" minOccurs="0"/>
				<xs:element ref="Outputs" maxOccurs="1" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="isServer" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>