Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SysBusDriverBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit Notepad++ v4.8.5 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>
	<xs:element name="SysBusDriver">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="Ports" maxOccurs="1" minOccurs="1"/>
			   <xs:element ref="Scheduling" maxOccurs="1" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ports">
		<xs:complexType>
			<xs:attribute name="Server" type="xs:int" use="required"/>
			<xs:attribute name="Client" type="xs:int" use="required"/>
			<xs:attribute name="ClientSubscribe" type="xs:int" use="required"/>
			<xs:attribute name="ServerSubscribe" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
   <xs:element name="Scheduling">
      <xs:complexType>
         <xs:attribute name="Cycle" type="xs:int" use="required"/>
         <xs:attribute name="Offset" type="xs:int" use="required"/>
         <xs:attribute name="ReceiveTimeout" type="xs:int" use="required"/>
         <xs:attribute name="Retries" type="xs:int" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>