Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/SystemClock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Version.xsd"/>
   <xs:element name="Correction">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CtrlTick">
               <xs:complexType>
                  <xs:attribute name="SkipPosition" type="xs:int" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="CsvLog" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Base">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CtrlTick">
               <xs:complexType>
                  <xs:attribute name="PeriodNs" type="xs:int" use="required"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="FrameTick">
               <xs:complexType>
                  <xs:attribute name="TicksPerFrame" type="xs:int" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="TsmLog" type="xs:boolean" use="optional"/>
         <xs:attribute name="SerialDbg" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="SystemClock">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="Base"/>
            <xs:element ref="Correction"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
