Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Carola John (KUKA Roboter GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Version.xsd"/>

	<xs:element name="DisableBootTimer">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="DebugStrategy">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="BootMeasure">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="AssertStop">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>

  	<xs:element name="MessageConsumer">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>


	<xs:element name="PMS">
		<xs:complexType>
			<xs:attribute name="RcvPort" type="xs:integer" use="required"/>
			<xs:attribute name="SndPort" type="xs:integer" use="required"/>
			<xs:attribute name="SendStatus" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="SystemManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="PMS" minOccurs="0"/>
				<xs:element ref="MessageConsumer" minOccurs="0"/>
				<xs:element ref="DisableBootTimer"/>
				<xs:element ref="DebugStrategy"/>
				<xs:element ref="BootMeasure"/>
				<xs:element ref="AssertStop"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
