Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Trace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Version">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Info"/>
            <xs:element ref="Schema"/>
         </xs:sequence>
         <xs:attribute name="Label" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="Trace">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Version"/>
            <xs:element ref="Config"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SoapThreadPriority" type="xs:short"/>
   <xs:element name="ShmSize" type="xs:int"/>
   <xs:element name="Schema">
      <xs:complexType>
         <xs:attribute name="Version" type="xs:byte" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Info">
      <xs:complexType>
         <xs:attribute name="Version" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Config">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="SoapThreadPriority"/>
            <xs:element ref="ShmSize"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
