Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/TraceFeatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Version" type="xs:int"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="StartID" type="xs:int"/>
	<xs:element name="NumChannels" type="xs:int"/>
	<xs:element name="StartCount" type="xs:int"/>
	<xs:element name="Triggers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Trigger0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" fixed="Puffer voll"/>
							<xs:element name="ID" fixed="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Trigger" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="ID"/>
				<xs:element name="Param1" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="Name"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Param2" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="Name"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Param3" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="Name"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Param4" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="Name"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rate" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Version"/>
				<xs:element ref="Format"/>
				<xs:element ref="Rates"/>
				<xs:element ref="Channels"/>
				<xs:element ref="Triggers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rate" type="xs:double"/>
	<xs:element name="Schema">
		<xs:complexType>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Scale" type="xs:double"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Info">
		<xs:complexType>
			<xs:attribute name="Version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID" type="xs:int"/>
	<xs:element name="Format" type="xs:string"/>
	<xs:element name="Channels">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Channel" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ChannelArray" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="ID"/>
				<xs:element ref="Type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChannelArray">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="StartCount"/>
				<xs:element ref="NumChannels"/>
				<xs:element ref="StartID"/>
				<xs:element ref="Type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
