Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Tracedef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Dominik Wenger (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ModuleName"/>
				<xs:element ref="ID"/>
				<xs:element ref="Param1" minOccurs="0"/>
				<xs:element ref="Param2" minOccurs="0"/>
				<xs:element ref="Param3" minOccurs="0"/>
				<xs:element ref="Param4" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Time"/>
				<xs:element ref="PreTrigger"/>
				<xs:element ref="Basename"/>
				<xs:element ref="Modules"/>
				<xs:element ref="Trigger" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Time" type="xs:double"/>
	<xs:element name="Rate" type="xs:double"/>
	<xs:element name="PreTrigger" type="xs:int"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Basename" type="xs:string"/>
	<xs:element name="Modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Module" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModuleName" type="xs:string"/>
	<xs:element name="Module">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Rate"/>
				<xs:element ref="Channel" maxOccurs="unbounded"  />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID" type="xs:int"/>
   <xs:element name="Channel"  >
      <xs:complexType >
         <xs:simpleContent>
            <xs:extension base="xs:int">
               <xs:attribute name="Name" type="xs:string" use="optional" />
               <xs:attribute name="Path" type="xs:string" use="optional" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
	<xs:element name="Param1" type="xs:int"/>
	<xs:element name="Param2" type="xs:int"/>
	<xs:element name="Param3" type="xs:double"/>
	<xs:element name="Param4" type="xs:double"/>
</xs:schema>
