Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/TransferApp_IO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Info"/>
				<xs:element ref="Schema"/>
			</xs:sequence>
			<xs:attribute name="Label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ToOut">
		<xs:complexType>
			<xs:attribute name="Driver" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ToBusOutput" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ToBitOffset" type="xs:unsignedInt" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Schema">
		<xs:complexType>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ToOut" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Driver" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FromBusInput" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BitOffset" type="xs:unsignedInt" use="required"/>
			<xs:attribute name="BitLength" type="xs:unsignedInt" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:complexType>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Application">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element name="Properties">
					<xs:complexType>
						<xs:attribute name="CycleTime" type="xs:unsignedInt" use="required"/>
						<xs:attribute name="CycleTimeAutomatic" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Mapping" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="kukaVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
