Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Tsm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="TSM">
		<xs:complexType>
			<xs:sequence>
               <xs:element ref="Global"/>
               <xs:element ref="Trigger"/>
               <xs:element ref="IdleTaskMonitoring"/>
               <xs:element ref="OnlineMonitoring"/>
	           <xs:element ref="Autoscan"/>
	           <xs:element ref="AdditionalStatistics"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
   <xs:element name="Global">
		<xs:complexType>
			<xs:sequence>
            <xs:element ref="LogFile"/>
            <xs:element ref="Times"/>
            <xs:element ref="TraceLib"/>
			</xs:sequence>
			<xs:attribute name="StartOnSystemBoot" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Errors"/>
            <xs:element ref="Events"/>
				<xs:element ref="SuspendedTasks"/>
			</xs:sequence>
			<xs:attribute name="TTLog" type="xs:boolean" use="optional"/>
			<xs:attribute name="RobotStop" type="xs:int" use="optional"/>
			<xs:attribute name="IPOStop" type="xs:boolean" use="optional"/>
			<xs:attribute name="Remote" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Autoscan">
		<xs:complexType>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
			<xs:attribute name="Duration" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TraceLib">
		<xs:complexType>
			<xs:attribute name="EventMask" type="xs:int" use="optional"/>
			<xs:attribute name="Cores" type="xs:int" use="optional"/>
			<xs:attribute name="BufferSize" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="IdleTaskMonitoring">
      <xs:complexType>
         <xs:attribute name="Enable" type="xs:boolean" use="optional"/>
         <xs:attribute name="Timeout" type="xs:int" use="optional"/>
         <xs:attribute name="MinThrshInPct" type="xs:int" use="optional"/>
         <xs:attribute name="SuspendStrategy" type="xs:int" use="optional"/>
         <xs:attribute name="ResumeTimeout" type="xs:int" use="optional"/>
      </xs:complexType>
   </xs:element>
	
	
	<xs:element name="OnlineMonitoring">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cyclic" maxOccurs="unbounded"/>
				<xs:element ref="Ready" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AdditionalStatistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CyclicTaskStatistics"/>
				<xs:element ref="ReadyTaskStatistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	  
	<xs:element name="Task">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Number" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	
   <xs:element name="Events">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Id" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="Enable" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   
	<xs:element name="SuspendedTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Task" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Number">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	
   <xs:element name="Id">
      <xs:simpleType>
         <xs:restriction base="xs:int"/>
      </xs:simpleType>
   </xs:element>
   
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="LogFile">
		<xs:complexType>
			<xs:attribute name="MaxLogs" type="xs:int" use="optional" />
			<xs:attribute name="TTonTSMLog" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	
   <xs:element name="Times">
      <xs:complexType>
         <xs:attribute name="WaitTicksAfterLogging" type="xs:int" use="optional" />
         <xs:attribute name="StopTimeout" type="xs:int" use="optional" />
      </xs:complexType>
   </xs:element>
	  
	<xs:element name="Cyclic">
		<xs:complexType>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
			<xs:attribute name="Task" type="xs:string" use="required"/>
			<xs:attribute name="Cycle" type="xs:int" use="required"/>
			<xs:attribute name="TSMLogTrigger" type="xs:boolean" use="optional"/>
			<xs:attribute name="T1MaxYellow" type="xs:double" use="optional"/>
			<xs:attribute name="T1MaxRed" type="xs:double" use="optional"/>
			<xs:attribute name="T2MaxYellow" type="xs:double" use="optional"/>
			<xs:attribute name="T2MaxRed" type="xs:double" use="optional"/>
			<xs:attribute name="T3MinYellow" type="xs:double" use="optional"/>
         <xs:attribute name="T3MinRed" type="xs:double" use="optional"/>
      </xs:complexType>
   </xs:element>
   
	<xs:element name="Ready">
		<xs:complexType>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
			<xs:attribute name="Task" type="xs:string" use="required"/><xs:attribute name="TSMLogTrigger" type="xs:boolean" use="required"/>
			<xs:attribute name="TMaxYellow" type="xs:double" use="required"/>
			<xs:attribute name="TMaxRed" type="xs:double" use="required"/>
      </xs:complexType>
   </xs:element>
   
   
	<xs:element name="CyclicTaskStatistics">
		<xs:complexType>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
   
	<xs:element name="ReadyTaskStatistics">
		<xs:complexType>
			<xs:attribute name="Enable" type="xs:boolean" use="optional"/>
      </xs:complexType>
   </xs:element>
		
</xs:schema>
