Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/Units.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xml:lang="EN">
   <xs:simpleType name="sTimeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Zeit [s]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Time [s]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="1000000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="msTimeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Zeit [ms]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Time [ms]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="1000000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="usTimeType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Zeit [µs]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Time [µs]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double">
         <!-- int64 min! /!-->
         <xs:minExclusive value="-9223372036854775.809"/>
         <!-- int64 max! /!-->
         <xs:maxExclusive value="9223372036854775.808"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="strFileNameType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Dateinamen</xs:documentation>
         <xs:documentation xml:lang="EN">
            file name</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:normalizedString">
         <xs:pattern value="[\w \-_\\/]+\.xml"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="strFileNameOrEmptyType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Dateiname oder leer</xs:documentation>
         <xs:documentation xml:lang="EN">
            file name or empty</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:normalizedString">
         <xs:pattern value="([\w \-_\\/]+\.xml)|()"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="temperatureType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Temperatur [K]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Temperature [K]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="positionType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Position [deg oder mm]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Position [deg or mm]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="currentType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Strom [A]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Current [A]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="mACurrentType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Strom [mA]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Current [mA]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="-2147483648"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="fractionType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Bruch (N/D)</xs:documentation>
         <xs:documentation xml:lang="EN">
            Fraction (N/D)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:normalizedString">
         <xs:pattern value="\[(0|\-?[1-9]\d*)/[1-9]\d*\]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="torqueType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Moment [Nm]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Torque [Nm]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="mNmTorqueType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Moment [10-3 Nm]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Torque [10-3 Nm]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="-2147483648"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="inertiaType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Traegheit [kg*(m*m)]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Inertia [kg*(m*m)]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="uInertiaType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Traegheit [10-6 kg*(m*m)]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Inertia [10-6 kg*(m*m)]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="speedType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Drehzahl [rpm]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Rotation speed [rpm]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:double"/>
   </xs:simpleType>
   <xs:simpleType name="energyType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Energie [J]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Energy [J]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer"/>
   </xs:simpleType>
   <xs:simpleType name="mJEnergyType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Energie [mJ]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Energy [mJ]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="bitType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Bitbreite (1..64)</xs:documentation>
         <xs:documentation xml:lang="EN">
            Bit length (1..64)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:minExclusive value="0"/>
         <xs:maxInclusive value="64"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="mVVoltageType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Spannung [mV]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Voltage [mV]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="-2147483648"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="mOhmResistanceType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Widerstand [10-3 Ohm]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Resistance [10-3 Ohm]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="uHInductanceType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Induktivitaet [10-6 H]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Inductance [10-6 H]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="2147483647"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="HexValueType">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Hexadezimalzahl [0x...]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Hexadecimal Value [0x...]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="0x[0-9a-fA-F]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="HexValue32Type">
      <xs:annotation>
         <xs:documentation xml:lang="DE">
            Hexadezimalzahl 32bit [0x00000001]</xs:documentation>
         <xs:documentation xml:lang="EN">
            Hexdecimal Value 32bit [0x00000001]</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="0x[0-9a-fA-F]{8}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
