Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/VIOBus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von Eveline Muehlbauer (KUKA Roboter GMBH) -->
<!--W3C Schema erstellt mit XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Version.xsd"/>
	<xs:element name="ProcessImage">
		<xs:complexType>
			<xs:sequence>
			    <xs:element ref="Version" minOccurs="0"/>
				<xs:element ref="Bus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bus">
		<xs:complexType>
			<xs:attribute name="Size" type="xs:unsignedInt" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
