Cell PCRC-MJ5RG3TVKW_PCRC-QLWXUWPQS7_Ambalajli_Paletleme_Robotu_996627/C/KRC/Roboter/Config/System/Common/Schemes/WaggonDriverInterfaces.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tWaggonDriverRef">
      <xs:attribute name="Index" type="xs:unsignedShort" use="required"/>
      <xs:attribute name="Channel" type="xs:unsignedShort" use="required"/>
   </xs:complexType>
   <xs:element name="IPos" type="tWaggonDriverRef"/>
   <xs:element name="IVel" type="tWaggonDriverRef"/>
   <xs:element name="ICommutation" type="tWaggonDriverRef"/>
   <xs:element name="ITrq" type="tWaggonDriverRef"/>
   <xs:element name="ITrqGearOutput" type="tWaggonDriverRef"/>
   <xs:element name="ITrqWDOut" type="tWaggonDriverRef"/>
   <xs:element name="IFrc" type="tWaggonDriverRef"/>
   <xs:element name="IMultiplexer" type="tWaggonDriverRef"/>
   <xs:element name="IStateKSB" type="tWaggonDriverRef"/>
   <xs:element name="IStateEnabled" type="tWaggonDriverRef"/>
   <xs:element name="IStateBrakeOpen" type="tWaggonDriverRef"/>
   <xs:element name="IStateDevice" type="tWaggonDriverRef"/>
   <xs:element name="ISupplyVoltage" type="tWaggonDriverRef"/>
   <xs:element name="IActivationStatus" type="tWaggonDriverRef"/>
   <xs:element name="IBit" type="tWaggonDriverRef"/>
   <xs:element name="OCommutation" type="tWaggonDriverRef"/>
   <xs:element name="OTrq" type="tWaggonDriverRef"/>
   <xs:element name="OPos" type="tWaggonDriverRef"/>
   <xs:element name="OVel" type="tWaggonDriverRef"/>
   <xs:element name="OCmdKSB" type="tWaggonDriverRef"/>
   <xs:element name="OCmdEnable" type="tWaggonDriverRef"/>
   <xs:element name="OCmdBrakeOpen" type="tWaggonDriverRef"/>
   <xs:element name="OCmd2ndBrakeOpen" type="tWaggonDriverRef"/>
   <xs:element name="OFrcResetSensor" type="tWaggonDriverRef"/>
   <xs:element name="OSupplyVoltage" type="tWaggonDriverRef"/>
   <xs:element name="OCmdBrakeVoltage" type="tWaggonDriverRef"/>
   <xs:element name="OBit" type="tWaggonDriverRef"/>
</xs:schema>
